In [1]:
import pandas as pd
import numpy as np
import requests
import os

from keras.engine.topology import Layer, InputSpec
from keras.layers import Dense, Input, Embedding
from keras.layers.recurrent import LSTM
from keras.models import Model
from keras.optimizers import SGD
from keras.callbacks import ModelCheckpoint
from keras.preprocessing.sequence import pad_sequences
import keras.backend as K

from utils.vocab import Vocabulary
from sklearn.cluster import KMeans
from joblib import load

from utils.plot_utils import plot_and_save_history
from sklearn.model_selection import train_test_split

Using TensorFlow backend.

### Utils for working with API

In [0]:
def download_sample():
    download_url = ""

    try:
        resp = requests.get(download_url)
        sample = resp.json()

        # Sort out invalid samples like {'error': 'You already downloaded this vector'}
        if set(sample.keys()) != set(valid_keys):
            failed["num"] += 1
            failed["responses"].append(resp.text)
            print("Invalid sample")
            print(failed)
            return None

    # Sometimes decoded samples are not valid json objects
    except ValueError:
        failed["num"] += 1
        try:
            failed["responses"].append(resp)
            print("Invalid response")
        # If download failed, resp is undound
        except UnboundLocalError:
            print("Bad URL")
            
        return None

    return sample

In [0]:
def upload_sample(classified_sample):
    upload_url = ""

    try:
        resp = requests.post(upload_url, classified_sample)
        return resp.text
    except:
        print("Download failed")
        return None

### Autoencoder model

In [2]:
class AutoEncoder(object):
    """ 4-layer LSTM Autoencoder
    Parameters
        vocab: Vocabulary object that stores char-to-int mappings 
            and text processing functions.
        hidden_size: Dimension of latent space between encoder and decoder.
            Default: 64.
        dropout: Fraction of units to be randomly ignored during training.
            Both linear and recurrent dropout are used.
            Default: 0.2
    """
    DEFAULT_HIDDEN_UNITS = 64
    DEFAULT_DROPOUT = 0.2
    DEFAULT_BATCH_SIZE = 64
    DEFAULT_EPOCHS = 100
    DEFAULT_MODEL_WEIGHT_PATH = './models/autoencoder-weights.h5'
    model_name = 'autoencoder'

    def __init__(self, vocab, hidden_size=None, dropout=None):
        if not hidden_size:
            self.hidden_size = AutoEncoder.DEFAULT_HIDDEN_UNITS
        if not dropout:
            self.dropout = AutoEncoder.DEFAULT_DROPOUT
            
        self.vocab = vocab
        self.vocab_size = vocab.vocab_size
        self.max_input_seq_length = vocab.max_input_seq_length

        encoder_inputs = Input(shape=(None,), name='encoder_inputs')
        encoder_embedding = Embedding(input_dim=self.vocab_size,
                                      output_dim=self.hidden_size,
                                      input_length=self.max_input_seq_length,
                                      name='encoder_embedding')
        encoder_lstm = LSTM(units=self.hidden_size,
                            return_state=True,
                            dropout=self.dropout,
                            recurrent_dropout=self.dropout,
                            name='encoder_lstm')
        encoder_outputs, encoder_state_h, encoder_state_c = encoder_lstm(encoder_embedding(encoder_inputs))
        encoder_states = [encoder_state_h, encoder_state_c]

        decoder_inputs = Input(shape=(None, self.vocab_size), name='decoder_inputs')
        decoder_lstm = LSTM(units=self.hidden_size, return_state=True,
                            return_sequences=True, name='decoder_lstm')
        decoder_outputs, decoder_state_h, decoder_state_c = decoder_lstm(decoder_inputs,
                                                                         initial_state=encoder_states)
        decoder_dense = Dense(units=self.vocab_size, activation='softmax', name='decoder_dense')
        decoder_outputs = decoder_dense(decoder_outputs)

        model = Model([encoder_inputs, decoder_inputs], decoder_outputs)

        model.compile(loss='categorical_crossentropy', optimizer='rmsprop', metrics=['accuracy'])

        self.model = model

        self.encoder_model = Model(encoder_inputs, encoder_states)

        decoder_state_inputs = [Input(shape=(self.hidden_size,)), Input(shape=(self.hidden_size,))]
        decoder_outputs, state_h, state_c = decoder_lstm(decoder_inputs,
                                                         initial_state=decoder_state_inputs)
        decoder_states = [state_h, state_c]
        decoder_outputs = decoder_dense(decoder_outputs)
        self.decoder_model = Model([decoder_inputs] + decoder_state_inputs,
                                   [decoder_outputs] + decoder_states)

    def load_weights(self, weight_file_path):
        if os.path.exists(weight_file_path):
            self.model.load_weights(weight_file_path)

    def generate_batch(self, samples, batch_size):
        num_batches = len(samples) // batch_size
        while True:
            for batchIdx in range(0, num_batches):
                start = batchIdx * batch_size
                end = (batchIdx + 1) * batch_size
                encoder_input_data_batch = pad_sequences(samples[start:end], self.max_input_seq_length)
                decoder_target_data_batch = np.zeros(shape=(batch_size, self.max_input_seq_length,
                                                            self.vocab_size))
                decoder_input_data_batch = np.zeros(shape=(batch_size, self.max_input_seq_length,
                                                           self.vocab_size))
                for textIdx, chars in enumerate(samples[start:end]):
                    for idx, char in enumerate(chars):
                        if char != 1: # not <UNK>
                            decoder_input_data_batch[textIdx, idx, char] = 1
                            if idx > 0:
                                decoder_target_data_batch[textIdx, idx - 1, char] = 1
                yield [encoder_input_data_batch, decoder_input_data_batch], decoder_target_data_batch

    def fit(self, Xtrain, Xtest, epochs=None, batch_size=None, weight_file_path=None):
        """
        Train model.
        Parameters:
            Xtrain: Array of strings for training.
            Xtest: Array of strings for validation.
            epochs: Number of full forward passes of all training samples.
                Default: 50.
            batch_size: Number of samples to pass for one iteration.
                Default: 64.
            weight_file_path: File path with extension '.h5'
                for saving weights of the network. (https://www.h5py.org/)
                Default: ./models/autoencoder-weights.h5
        """

        if not epochs:
            epochs = AutoEncoder.DEFAULT_EPOCHS
        if not batch_size:
            batch_size = AutoEncoder.DEFAULT_BATCH_SIZE
        if not weight_file_path:
            weight_file_path = AutoEncoder.DEFAULT_WEIGHT_FILE_PATH

        checkpoint = ModelCheckpoint(weight_file_path)

        Xtrain = self.vocab.transform_texts(Xtrain)
        Xtest = self.vocab.transform_texts(Xtest)

        train_gen = self.generate_batch(Xtrain, batch_size)
        test_gen = self.generate_batch(Xtest, batch_size)

        train_num_batches = len(Xtrain) // batch_size
        test_num_batches = len(Xtest) // batch_size

        history = self.model.fit_generator(generator=train_gen, steps_per_epoch=train_num_batches,
                                           epochs=epochs, verbose=True,
                                           validation_data=test_gen, validation_steps=test_num_batches,
                                           callbacks=[checkpoint])
        self.model.save_weights(weight_file_path)
        return history

    def predict(self, input_text):
        """
        Process input texts and reconstruct them.
        Used to check how well model "understands" input texts.
        Parameters:
             input_text: 
        """
        input_seq = self.vocab.transform_texts([input_text])
        states_value = self.encoder_model.predict(input_seq)
        target_seq = np.zeros((1, 1, self.vocab_size))
        target_seq[0, 0, self.vocab.char2idx['<START>']] = 1
        target_text = ''
        target_text_len = 0
        terminated = False
        while not terminated:
            output_tokens, h, c = self.decoder_model.predict([target_seq] + states_value)

            sample_token_idx = np.argmax(output_tokens[0, -1, :])
            sample_char = self.vocab.idx2char[sample_token_idx]
            target_text_len += 1

            if sample_char != '<START>' and sample_char != '<END>':
                target_text += ' ' + sample_char

            if sample_char == '<END>' or target_text_len >= self.max_input_seq_length:
                terminated = True

            target_seq = np.zeros((1, 1, self.vocab_size))
            target_seq[0, 0, sample_token_idx] = 1

            states_value = [h, c]
        return target_text.strip()

### Text processing

In [3]:
def get_features(vectors):
    # vector: string -> vector_embedding: [char_indices]
    # [char_indices] are padded with 0 to the right
    vector_embedding = vocab.transform_texts([vector])
    
    # vector_embedding: [char_indices] -> encoders_states: [state_h, state_c]
    encoder_states = encoder.predict([vector_embedding])
    
    # use state_h as feature
    vector_features = encoder_states[0]
    
    return vector_features

### Prediction

In [4]:
def predict_class(vector_features):
    vector_class = kmeans.predict(vector_features)[0]
    # "0"-class is invalid
    if vector_class == 0:
        vector_class = 25
    return vector_class

### Train

In [5]:
data = pd.read_csv('../data/wallarm.csv', encoding='utf-8', lineterminator='\n')
data = data.fillna('<BLANK>')

In [6]:
clean_data = data[~data['text'].apply(lambda x: x.startswith('/handler_sync_example'))]

In [7]:
clean_data = clean_data[~clean_data['text'].apply(lambda x: x.startswith('Category=%example.example%'))]

In [8]:
clean_data = clean_data[~clean_data['text'].apply(lambda x: x.startswith('/example.example'))]

In [9]:
data = clean_data.reset_index(drop=True)

In [13]:
train_data, test_data = train_test_split(data, test_size=0.2)
train_data = train_data.reset_index(drop=True)
test_data = test_data.reset_index(drop=True)

**Train autoencoder**

In [14]:
os.environ["CUDA_VISIBLE_DEVICES"] = ''

In [15]:
from keras import backend as K

K.set_learning_phase(1) #set learning phase

In [17]:
vocab = Vocabulary()
vocab.vocab_file = './vocab-wallarm.json'
vocab.make_vocab(data['text'])
train_autoencoder = AutoEncoder(vocab)
train_encoder = train_autoencoder.encoder_model
weight_file_path = "./models/train-modified-wallarm.h5"
report_dir_path = "./reports"

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:2990: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1238: calling reduce_sum_v1 (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1204: calling reduce_max_v1 (from tensorflow.python.ops.math_ops) with keep_dims is deprecated and will be removed in a future version.
Instructions for updating:
keep_dims is deprecated, use keepdims instead

In [18]:
print('start fitting ...')
history = train_autoencoder.fit(data['text'], test_data['text'], 
                                epochs=15, batch_size=64,
                                weight_file_path=weight_file_path)

comment = "wallarm-modified"
history_plot_file_path = f"{ report_dir_path }/{ AutoEncoder.model_name }-{ comment }-history.png"
plot_and_save_history(history, f"{AutoEncoder.model_name}-{comment}", history_plot_file_path, metrics={'loss', 'acc'})

start fitting ...
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_grad.py:102: div (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Deprecated in favor of operator or tf.math.divide.
Epoch 1/15
850/851 [============================>.] - ETA: 0s - loss: 2.4423 - acc: 0.4137

/usr/local/lib/python3.6/dist-packages/keras/engine/topology.py:2344: UserWarning: Layer decoder_lstm was passed non-serializable keyword arguments: {'initial_state': [<tf.Tensor 'encoder_lstm/while/Exit_2:0' shape=(?, 64) dtype=float32>, <tf.Tensor 'encoder_lstm/while/Exit_3:0' shape=(?, 64) dtype=float32>]}. They will not be included in the serialized model (and thus will be missing at deserialization time).
  str(node.arguments) + '. They will not be included '

851/851 [==============================] - 410s 482ms/step - loss: 2.4415 - acc: 0.4138 - val_loss: 2.0392 - val_acc: 0.4847
Epoch 2/15
851/851 [==============================] - 402s 473ms/step - loss: 1.8800 - acc: 0.5226 - val_loss: 1.7579 - val_acc: 0.5514
Epoch 3/15
851/851 [==============================] - 446s 524ms/step - loss: 1.6869 - acc: 0.5645 - val_loss: 1.6217 - val_acc: 0.5770
Epoch 4/15
851/851 [==============================] - 493s 579ms/step - loss: 1.5814 - acc: 0.5851 - val_loss: 1.5360 - val_acc: 0.5949
Epoch 5/15
851/851 [==============================] - 497s 584ms/step - loss: 1.5132 - acc: 0.5992 - val_loss: 1.4845 - val_acc: 0.6056
Epoch 6/15
851/851 [==============================] - 491s 577ms/step - loss: 1.4653 - acc: 0.6098 - val_loss: 1.4424 - val_acc: 0.6149
Epoch 7/15
851/851 [==============================] - 491s 577ms/step - loss: 1.4294 - acc: 0.6178 - val_loss: 1.4120 - val_acc: 0.6216
Epoch 8/15
851/851 [==============================] - 481s 565ms/step - loss: 1.4013 - acc: 0.6242 - val_loss: 1.3853 - val_acc: 0.6279
Epoch 9/15
851/851 [==============================] - 510s 600ms/step - loss: 1.3780 - acc: 0.6294 - val_loss: 1.3655 - val_acc: 0.6324
Epoch 10/15
851/851 [==============================] - 433s 509ms/step - loss: 1.3585 - acc: 0.6338 - val_loss: 1.3462 - val_acc: 0.6364
Epoch 11/15
 21/851 [..............................] - ETA: 5:42 - loss: 1.3506 - acc: 0.6317

KeyboardInterrupt:

In [25]:
train_autoencoder.predict(data['text'][])

'9 3 9   u n i o n # \r s e l e c t \t ( / * ! o u s e l e * / ( ) ) ,   ( \t s e l e c t ( ) ) ,   ( \t s e l e c t ( ) ) ,   ( \t s e l e c'

**Train K-Means**

In [17]:
# vector: 1d array of strings -> vector_embeddings: 2d array of char_indices for each string
# [char_indices] are padded with 0 to the right
vector_embeddings = vocab.transform_texts(train_data['text'])


# vector_embeddings: [[char_indices]] -> encoders_states: [state_h, state_c]
encoder_states = train_encoder.predict(vector_embeddings)

# use state_h as feature
vector_features = encoder_states[0]

In [0]:
vector_embeddings

array([[14, 53,  3, ..., 55, 41, 15],
       [14, 26, 27, ...,  0,  0,  0],
       [14, 45, 10, ...,  0,  0,  0],
       ...,
       [14, 13, 16, ..., 31,  4, 15],
       [14, 35, 23, ..., 13,  2, 15],
       [14,  8,  2, ...,  6,  2, 15]], dtype=int32)

In [0]:
encoder_states

[array([[ 4.09461595e-02, -5.36398068e-02,  9.03753415e-02, ...,
          4.17304263e-02, -3.84349264e-02,  1.20123602e-01],
        [ 7.29063451e-02, -2.17253849e-01,  5.46008989e-04, ...,
          8.83590654e-02,  2.67494977e-01,  3.77607256e-01],
        [ 1.30734441e-06, -4.82622236e-01,  3.34630115e-03, ...,
          7.21165771e-03, -4.23140228e-01, -3.12113583e-01],
        ...,
        [-2.04506010e-04,  2.81437457e-01,  2.24746332e-01, ...,
          3.48136127e-02, -9.58355293e-02, -2.54354537e-01],
        [ 2.99642775e-02,  2.35155806e-01,  2.86811471e-01, ...,
          8.81032273e-02, -1.05080426e-01, -1.87096268e-01],
        [ 2.37311958e-03,  1.35119095e-01,  1.15045808e-01, ...,
          1.09946236e-01, -2.40389258e-01, -2.63211668e-01]], dtype=float32),
 array([[ 6.8864867e-02, -1.4695564e-01,  1.6731679e-01, ...,
          3.9815277e-01, -1.7921761e-01,  3.8406411e-01],
        [ 1.0018063e-01, -4.9414784e-01,  1.5700178e-03, ...,
          1.0011814e+00,  4.3144703e-01,  1.2248734e+00],
        [ 2.3666694e-06, -1.7258503e+00,  6.1874818e-03, ...,
          4.1772904e+00, -1.3104200e+00, -1.0102193e+00],
        ...,
        [-3.0632070e-04,  6.6228909e+00,  4.1007826e-01, ...,
          1.7123680e+00, -1.0266743e+00, -9.8091602e-01],
        [ 5.8106739e-02,  1.3275793e+00,  6.1759293e-01, ...,
          2.7777758e+00, -5.9509051e-01, -6.1957473e-01],
        [ 3.3533017e-03,  3.4728363e-01,  1.8396232e-01, ...,
          2.8611069e+00, -1.3056688e+00, -1.1353568e+00]], dtype=float32)]

In [0]:
vector_features

array([[ 4.09461595e-02, -5.36398068e-02,  9.03753415e-02, ...,
         4.17304263e-02, -3.84349264e-02,  1.20123602e-01],
       [ 7.29063451e-02, -2.17253849e-01,  5.46008989e-04, ...,
         8.83590654e-02,  2.67494977e-01,  3.77607256e-01],
       [ 1.30734441e-06, -4.82622236e-01,  3.34630115e-03, ...,
         7.21165771e-03, -4.23140228e-01, -3.12113583e-01],
       ...,
       [-2.04506010e-04,  2.81437457e-01,  2.24746332e-01, ...,
         3.48136127e-02, -9.58355293e-02, -2.54354537e-01],
       [ 2.99642775e-02,  2.35155806e-01,  2.86811471e-01, ...,
         8.81032273e-02, -1.05080426e-01, -1.87096268e-01],
       [ 2.37311958e-03,  1.35119095e-01,  1.15045808e-01, ...,
         1.09946236e-01, -2.40389258e-01, -2.63211668e-01]], dtype=float32)

In [18]:
train_kmeans = KMeans(n_clusters=8, n_init=10, n_jobs=-1)
train_labels = train_kmeans.fit_predict(vector_features)
train_kmeans_result = pd.DataFrame(train_data)
train_kmeans_result['class'] = train_labels

In [0]:
train_kmeans_result

           id  ... class
0       37054  ...     2
1       19384  ...     1
2       67149  ...     4
3       95445  ...     3
4       39692  ...     0
5       57355  ...     5
6       61631  ...     5
7       65022  ...     5
8       39050  ...     7
9       31432  ...     2
10      42065  ...     0
11      94530  ...     3
12      70709  ...     5
13      17161  ...     1
14      51742  ...     2
15      42500  ...     2
16      25851  ...     6
17      42559  ...     0
18       7698  ...     0
19      26186  ...     1
20      91079  ...     6
21      93318  ...     1
22      68514  ...     5
23      20336  ...     2
24      64622  ...     5
25      79632  ...     4
26      62397  ...     5
27      56881  ...     4
28      55701  ...     5
29      87960  ...     1
...       ...  ...   ...
32897     649  ...     2
32898  103841  ...     3
32899  103214  ...     1
32900   50961  ...     2
32901   29285  ...     0
32902   26169  ...     1
32903   43673  ...     0
32904   60302  ...     5
32905   80833  ...     4
32906   36612  ...     2
32907   17138  ...     7
32908   57475  ...     4
32909   75618  ...     4
32910   94090  ...     3
32911   12193  ...     0
32912   18736  ...     7
32913   51111  ...     2
32914   88068  ...     6
32915    5993  ...     7
32916   81788  ...     2
32917   87190  ...     6
32918   54568  ...     4
32919   29087  ...     0
32920   32562  ...     5
32921   28775  ...     0
32922   98629  ...     3
32923    5219  ...     1
32924  101833  ...     6
32925   38295  ...     7
32926  103508  ...     3

[32927 rows x 4 columns]

In [0]:
pd.set_option('display.max_colwidth', 100)

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 0]

          id  ... class
4      39692  ...     0
10     42065  ...     0
17     42559  ...     0
18      7698  ...     0
30     83362  ...     0
32     33013  ...     0
36     28409  ...     0
39       679  ...     0
41     25181  ...     0
45     39896  ...     0
53     77887  ...     0
70     53263  ...     0
78      7779  ...     0
83     47568  ...     0
86     35673  ...     0
89     36813  ...     0
91     28035  ...     0
98     13057  ...     0
100    79915  ...     0
103    80183  ...     0
115    43421  ...     0
125    27011  ...     0
130    27500  ...     0
132    16531  ...     0
146    24309  ...     0
156    14132  ...     0
162    47128  ...     0
163    28428  ...     0
179    35261  ...     0
181    49164  ...     0
...      ...  ...   ...
32729  84536  ...     0
32730  14662  ...     0
32736  29385  ...     0
32744  43410  ...     0
32768  33892  ...     0
32777  38405  ...     0
32788  45072  ...     0
32797  30820  ...     0
32798  40335  ...     0
32832  43206  ...     0
32834  12364  ...     0
32835  28321  ...     0
32836  45159  ...     0
32838  13267  ...     0
32840  30196  ...     0
32851  38798  ...     0
32857  29661  ...     0
32859  36493  ...     0
32860  13302  ...     0
32864  26844  ...     0
32869  80062  ...     0
32873  48859  ...     0
32877  37752  ...     0
32878  79166  ...     0
32886  36842  ...     0
32901  29285  ...     0
32903  43673  ...     0
32911  12193  ...     0
32919  29087  ...     0
32921  28775  ...     0

[5649 rows x 4 columns]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 0) & (train_kmeans_result['injection'] == True)]

          id  ... class
30     83362  ...     0
53     77887  ...     0
100    79915  ...     0
103    80183  ...     0
205    83920  ...     0
214    64835  ...     0
221    76371  ...     0
232    79213  ...     0
293    83222  ...     0
294    78955  ...     0
321    79258  ...     0
324    79986  ...     0
346    84074  ...     0
398    77733  ...     0
423    81638  ...     0
467    77959  ...     0
619    78446  ...     0
702    82112  ...     0
766    97381  ...     0
822    79913  ...     0
849    82508  ...     0
923    79003  ...     0
954    76709  ...     0
1026   79232  ...     0
1062   78721  ...     0
1101   83673  ...     0
1130   78101  ...     0
1139   84245  ...     0
1157   77749  ...     0
1162   82774  ...     0
...      ...  ...   ...
31273  80059  ...     0
31290  81182  ...     0
31345  77504  ...     0
31436  78144  ...     0
31451  78433  ...     0
31565  78486  ...     0
31632  79268  ...     0
31763  77324  ...     0
31841  82893  ...     0
31920  78738  ...     0
31985  78458  ...     0
31999  82832  ...     0
32041  93816  ...     0
32136  78149  ...     0
32143  79926  ...     0
32153  79006  ...     0
32197  84690  ...     0
32216  79565  ...     0
32234  79211  ...     0
32253  82771  ...     0
32286  84673  ...     0
32344  84581  ...     0
32648  79004  ...     0
32682  84159  ...     0
32683  80211  ...     0
32701  78371  ...     0
32722  82669  ...     0
32729  84536  ...     0
32869  80062  ...     0
32878  79166  ...     0

[767 rows x 4 columns]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 1]

           id  ... class
1       19384  ...     1
13      17161  ...     1
19      26186  ...     1
21      93318  ...     1
29      87960  ...     1
55     101796  ...     1
59      19211  ...     1
60      90476  ...     1
95      96251  ...     1
99       7704  ...     1
117     78351  ...     1
122     31180  ...     1
123     34190  ...     1
124     79431  ...     1
135     25982  ...     1
140      8335  ...     1
144     79504  ...     1
165     38991  ...     1
166     80292  ...     1
187     94737  ...     1
200     95612  ...     1
202     93622  ...     1
203     92742  ...     1
204     87989  ...     1
212     22512  ...     1
244     83939  ...     1
255     90708  ...     1
257     44729  ...     1
299     89101  ...     1
301     44172  ...     1
...       ...  ...   ...
32738  105853  ...     1
32740   80352  ...     1
32741   22804  ...     1
32742    1376  ...     1
32745   77343  ...     1
32754   84368  ...     1
32758   88534  ...     1
32762   86085  ...     1
32765   34393  ...     1
32766   99129  ...     1
32767   94286  ...     1
32780   87153  ...     1
32781   46474  ...     1
32782   30309  ...     1
32799   89889  ...     1
32809   89682  ...     1
32819  101208  ...     1
32823   86051  ...     1
32827   98432  ...     1
32845   45540  ...     1
32854   93017  ...     1
32871  104583  ...     1
32879   45956  ...     1
32881   35161  ...     1
32882  103942  ...     1
32892   83496  ...     1
32894   27253  ...     1
32899  103214  ...     1
32902   26169  ...     1
32923    5219  ...     1

[4158 rows x 4 columns]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 1) & (train_kmeans_result['injection'] == True)]

           id  ... class
21      93318  ...     1
29      87960  ...     1
55     101796  ...     1
60      90476  ...     1
95      96251  ...     1
117     78351  ...     1
124     79431  ...     1
144     79504  ...     1
166     80292  ...     1
187     94737  ...     1
200     95612  ...     1
202     93622  ...     1
203     92742  ...     1
204     87989  ...     1
244     83939  ...     1
255     90708  ...     1
299     89101  ...     1
316     88673  ...     1
317     91749  ...     1
328    104047  ...     1
330    102936  ...     1
358     93980  ...     1
369     94902  ...     1
371     89138  ...     1
377     78837  ...     1
379     96699  ...     1
380     87422  ...     1
420     96019  ...     1
426     83637  ...     1
433     89458  ...     1
...       ...  ...   ...
32588   83574  ...     1
32595   87028  ...     1
32597  100549  ...     1
32614   84953  ...     1
32621  100175  ...     1
32673   99627  ...     1
32689   84291  ...     1
32696  102770  ...     1
32717   92672  ...     1
32718   78666  ...     1
32727   96834  ...     1
32738  105853  ...     1
32740   80352  ...     1
32745   77343  ...     1
32754   84368  ...     1
32758   88534  ...     1
32762   86085  ...     1
32766   99129  ...     1
32767   94286  ...     1
32780   87153  ...     1
32799   89889  ...     1
32809   89682  ...     1
32819  101208  ...     1
32823   86051  ...     1
32827   98432  ...     1
32854   93017  ...     1
32871  104583  ...     1
32882  103942  ...     1
32892   83496  ...     1
32899  103214  ...     1

[2600 rows x 4 columns]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 2]

          id                                            text  injection  class
0      37054                                      ~ûÃ<?C(ÂF¥      False      2
9      31432          F?\tÉÁ§T¼r1ØSrC,nKÆ ... &#6 ªÈ]IôÁ      False      2
14     51742                              Szcz%C2%49snowicze      False      2
15     42500           CwN/OnuTAUeNZjz9VScIWNYn39tP ... 8tg=      False      2
23     20336                                 ,�X ���CEZj�M-      False      2
31     28098               75,"select":tr ... y","delete","e      False      2
35     33429          ^�Nkc+GV��W�%#����W
m<?\�~#o�^*�      False      2
50     10664                    å`{sRc}Ni ... ô
&AbGLëPÜ      False      2
58      4234               +|Ph|Eq|lingot or 9 once valcambi      False      2
61      5664                        dÃ©coration+or+(keyword)      False      2
62     20211              <link rel="shortcut icon" href="">      False      2
69     52464                                   Rosa Lee Long      False      2
73     42258                                    hOr+ONCnR+k=      False      2
75     39634                                    fBd+ONbbjpw=      False      2
81     50840                       Game over(p square album)      False      2
85     49923                                         Kalakan      False      2
102    52399                                  FiRST magazine      False      2
120    34760           4Tv/OnFxQXmrhfyHMcxHRdK39LAu ... bVI=      False      2
121    45339  ×üE^²Xml`Âä
æ³'M¼áaIÏ­\ ... 8°
½ÅV6°òYÿ      False      2
127    50543                                     Pavel Zacha      False      2
128     4465       LmC/onreSLGi8Ex3mBQO663oh77J ... g==; _gi      False      2
138    35784     son Expression Hom ... Ñ &rootCategory=&so      False      2
142    17601                                   �9��<%w(�ѕ��      False      2
152    12280                                         get cur      False      2
154    28659           WbP+oNtEBlHtlQcki34FhuZ14GRG ... WUY=      False      2
168    18370            ��in(]��;����4������^xӍ|wV�sO:�ι�Gy      False      2
173    41909                      Mvu/onFJrSjQBVQo26oEKF49E=      False      2
177     1014     son Expression Pre ... XP-&rootCategory=&so      False      2
183      849                                 ½Z">SvGµ\n      False      2
186    45539                        6sG/ONdGcOpJkpbFK4U7NIQ=      False      2
...      ...                                             ...        ...    ...
32704  50014                                Nicolae pogonaru      False      2
32706  10077     son Expression Pre ... hed&rootCategory=526      False      2
32712  29948                                         ing /sb      False      2
32723  15443              ent style and ... 6\n\n&letter_id=      False      2
32737  43269                                aaJ+onNDUryHLPc=      False      2
32749  43320                    saw an eld ...  33 years old      False      2
32757  37852                   r('[href*=\" ... rch&data=5b9      False      2
32764  52218                                 Lumbar triangle      False      2
32769  39365               55,"select":fa ... 69,"select":tr      False      2
32787   9660           sqZ/oNcasXjui2zw3JM3gacRlKHk ... NB8=      False      2
32794   9921              example.example ... ent=5872767685      False      2
32811  23694                                    f�R=s�ǰ
���      False      2
32813  49991                     Allyn-Grapeview, Washington      False      2
32816   4192                      HG_-BY--oQTlgJnadBCTgM_mTj      False      2
32822  40463           7LK+ONpoNVEuZUfEXUrB4N5Emvjg ... aJ1=      False      2
32825   5048                                     ®-z,SrcÓ4      False      2
32828  81369            !S!WCRTESTINPUT395873!E!' aNd '8'='3       True      2
32839  76487                                   # from wapiti       True      2
32846  52506                        Queen of Solomon Islands      False      2
32847  19326                                      bRA-BY--N9      False      2
32858  53356                        Telepathy Sh%C7%3Djo Ran      False      2
32863   2189                             tat&online_stat=3&c      False      2
32883  13750                          *lG?+cü ... »¸;ó
û      False      2
32885  24879                     importing-windows-me-and-34      False      2
32895  49077                                      ID8 (gene)      False      2
32897    649                               g","java-lang-pro      False      2
32900  50961                  Telephone signaling interfaces      False      2
32906  36612            rd" style="te ... quo;expression de       False      2
32913  51111                              Red Forest (album)      False      2
32916  81788                          GTM-PP8NTF' aNd '9'='6       True      2

[6120 rows x 4 columns]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 2) & (train_kmeans_result['injection'] == True)]

          id                                          text  injection  class
222    77958                       6) AND 1183=6497-- kVpo       True      2
245    81299          !S!WCRTESTINPUT254283!E!' aNd '3'='7       True      2
279    81746           !S!WCRTESTINPUT386215!E!' aNd '%'='       True      2
342    76493                              UNION ALL SELECT       True      2
364    80005                                                     True      2
497    79959         reply' AND 1981=9542 AND 'LNEY'='LNEY       True      2
511    79051        core)/**/ORDER/**/BY/**/3459--/**/bXSM       True      2
595    77709                                     9 AND 7=9       True      2
600    80740                            search' aNd '2'='9       True      2
602    81047                        GTM-PP9NTF' aNd '5'='9       True      2
689    83783                 core' AnD sLeep(6) ANd '6'='5       True      2
723    80526          !S!WCRTESTINPUT225263!E!' aNd '3'='9       True      2
878    83441                  \t\t\t<div class="controls">       True      2
1065   84651                                69"+and+"x"="y       True      2
1116   82493                        GTM-PP8NTF' aNd '2'='4       True      2
1141   79639                     9%' OR SLEEP(4) AND '%'='       True      2
1158   76476                                        insert       True      2
1207   81017                        GTM-PP3NTF' aNd '8'='2       True      2
1239   80449                                       <BLANK>       True      2
1267   76481      @var select @var as var into temp end --       True      2
1318   80971           !S!WCRTESTINPUT899289!E!' aNd '%'='       True      2
1355   81351          !S!WCRTESTINPUT559197!E!' aNd '8'='4       True      2
1369   81741           !S!WCRTESTINPUT493822!E!' aNd '%'='       True      2
1539   79664                       5) OR SLEEP(8) AND (8=5       True      2
1576   81695           !S!WCRTESTINPUT363595!E!' aNd '%'='       True      2
1652   76727                              select @@version       True      2
1717   77884    2 AND (SELECT 'tttj' FROM VERSIONS)='tttj'       True      2
1780   81778                        GTM-PP3NTF' aNd '7'='5       True      2
1805   76761                          <username>' OR 6=2--       True      2
1868   81085          !S!WCRTESTINPUT926564!E!' aNd '5'='5       True      2
...      ...                                           ...        ...    ...
30863  80003                                   /net_home//       True      2
30921  80756                            search' aNd '9'='7       True      2
30923  80480          !S!WCRTESTINPUT141289!E!' aNd '3'='3       True      2
30968  84018                 core' AnD sLeep(4) ANd '9'='2       True      2
31030  80734                            search' aNd '4'='1       True      2
31159  81681           !S!WCRTESTINPUT137385!E!' aNd '%'='       True      2
31170  77348  for_business' AND 6547=6859 AND 'zJhH'='zJhH       True      2
31175  81086          !S!WCRTESTINPUT676885!E!' aNd '6'='7       True      2
31208  81725           !S!WCRTESTINPUT323948!E!' aNd '%'='       True      2
31394  79671                      2) AND SLEEP(9) AND (2=7       True      2
31420  76470                                          like       True      2
31465  80420                                                     True      2
31593  79834             7) WAITFOR DELAY '8:1:7' AND (6=9       True      2
31753  80937           !S!WCRTESTINPUT477981!E!' aNd '%'='       True      2
31814  80984           !S!WCRTESTINPUT741464!E!' aNd '%'='       True      2
31831  77629                         gallery AND 6596=8549       True      2
31973  78882                   JSP+7.3') or 1=8 or ('7'='5       True      2
32059  77269                                   535+and+6>7       True      2
32083  74405                                 ' union/*M!*/       True      2
32103  81761           !S!WCRTESTINPUT197249!E!' aNd '%'='       True      2
32214  81029                        GTM-PP8NTF' aNd '9'='6       True      2
32237  81087          !S!WCRTESTINPUT243886!E!' aNd '5'='3       True      2
32284  83384                  \t\t.view-login .container {       True      2
32361  77718               gallery%") AND 69=17 AND ("%"="       True      2
32454  81303          !S!WCRTESTINPUT168847!E!' aNd '3'='3       True      2
32609  77258                    for_business AND 4492=4724       True      2
32667  81013                        GTM-PP9NTF' aNd '2'='5       True      2
32828  81369          !S!WCRTESTINPUT395873!E!' aNd '8'='3       True      2
32839  76487                                 # from wapiti       True      2
32916  81788                        GTM-PP8NTF' aNd '9'='6       True      2

[491 rows x 4 columns]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 3]

           id  ... class
3       95445  ...     3
11      94530  ...     3
49      85437  ...     3
76      85569  ...     3
87     105349  ...     3
104     87573  ...     3
106     98455  ...     3
110     94446  ...     3
114    102991  ...     3
161     97048  ...     3
169     89450  ...     3
174     91923  ...     3
176     98151  ...     3
182     99153  ...     3
198     99614  ...     3
207     82581  ...     3
209     92964  ...     3
213     99714  ...     3
247     91208  ...     3
251    102771  ...     3
262     87420  ...     3
268    103382  ...     3
270     84909  ...     3
280    104694  ...     3
281     97268  ...     3
282     96603  ...     3
284     89351  ...     3
313     85626  ...     3
320     27696  ...     3
325     91074  ...     3
...       ...  ...   ...
32575    9234  ...     3
32599  102722  ...     3
32612  103597  ...     3
32613   90070  ...     3
32658  103921  ...     3
32672   97289  ...     3
32707   87324  ...     3
32708   93308  ...     3
32747   96050  ...     3
32771  104115  ...     3
32772  103726  ...     3
32785   96694  ...     3
32789  102313  ...     3
32790   94869  ...     3
32793   90100  ...     3
32795  103366  ...     3
32820   92239  ...     3
32821  104231  ...     3
32841  103029  ...     3
32848  104684  ...     3
32865   98517  ...     3
32866   85309  ...     3
32868   93577  ...     3
32876   96158  ...     3
32890   24190  ...     3
32896  100894  ...     3
32898  103841  ...     3
32910   94090  ...     3
32922   98629  ...     3
32926  103508  ...     3

[3362 rows x 4 columns]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 3) & (train_kmeans_result['injection'] == True)]

           id  ... class
3       95445  ...     3
11      94530  ...     3
49      85437  ...     3
76      85569  ...     3
87     105349  ...     3
104     87573  ...     3
106     98455  ...     3
110     94446  ...     3
114    102991  ...     3
161     97048  ...     3
169     89450  ...     3
174     91923  ...     3
176     98151  ...     3
182     99153  ...     3
198     99614  ...     3
207     82581  ...     3
209     92964  ...     3
213     99714  ...     3
247     91208  ...     3
251    102771  ...     3
262     87420  ...     3
268    103382  ...     3
270     84909  ...     3
280    104694  ...     3
281     97268  ...     3
282     96603  ...     3
284     89351  ...     3
313     85626  ...     3
325     91074  ...     3
326     85983  ...     3
...       ...  ...   ...
32554   85239  ...     3
32561  101468  ...     3
32599  102722  ...     3
32612  103597  ...     3
32613   90070  ...     3
32658  103921  ...     3
32672   97289  ...     3
32707   87324  ...     3
32708   93308  ...     3
32747   96050  ...     3
32771  104115  ...     3
32772  103726  ...     3
32785   96694  ...     3
32789  102313  ...     3
32790   94869  ...     3
32793   90100  ...     3
32795  103366  ...     3
32820   92239  ...     3
32821  104231  ...     3
32841  103029  ...     3
32848  104684  ...     3
32865   98517  ...     3
32866   85309  ...     3
32868   93577  ...     3
32876   96158  ...     3
32896  100894  ...     3
32898  103841  ...     3
32910   94090  ...     3
32922   98629  ...     3
32926  103508  ...     3

[3130 rows x 4 columns]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 4]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 4) & (train_kmeans_result['injection'] == True)]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 5]

          id  ... class
5      57355  ...     5
6      61631  ...     5
7      65022  ...     5
12     70709  ...     5
22     68514  ...     5
24     64622  ...     5
26     62397  ...     5
28     55701  ...     5
34     59772  ...     5
37     63566  ...     5
38     60625  ...     5
48     54215  ...     5
57     58034  ...     5
63     65183  ...     5
64     64678  ...     5
80     72309  ...     5
88     70427  ...     5
96     59873  ...     5
112    65300  ...     5
113    61181  ...     5
141    56321  ...     5
143    69117  ...     5
145    58731  ...     5
150    73604  ...     5
155    71137  ...     5
158    64748  ...     5
159    59513  ...     5
164    55654  ...     5
167    70597  ...     5
170    72233  ...     5
...      ...  ...   ...
32709  68577  ...     5
32714  56598  ...     5
32735  61072  ...     5
32743  54820  ...     5
32748  55548  ...     5
32759  63951  ...     5
32761  58084  ...     5
32774  70084  ...     5
32775  72432  ...     5
32778  56635  ...     5
32786  69647  ...     5
32805  64887  ...     5
32806  54042  ...     5
32807  70943  ...     5
32814  60879  ...     5
32815  69552  ...     5
32818  63714  ...     5
32829  54816  ...     5
32830  60265  ...     5
32837  69152  ...     5
32844  64133  ...     5
32850  60593  ...     5
32853  68190  ...     5
32855  60378  ...     5
32867  78044  ...     5
32872  62072  ...     5
32874  69840  ...     5
32884  73374  ...     5
32904  60302  ...     5
32920  32562  ...     5

[4436 rows x 4 columns]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 5) & (train_kmeans_result['injection'] == True)]

          id  ... class
5      57355  ...     5
6      61631  ...     5
7      65022  ...     5
12     70709  ...     5
22     68514  ...     5
24     64622  ...     5
26     62397  ...     5
28     55701  ...     5
34     59772  ...     5
37     63566  ...     5
38     60625  ...     5
48     54215  ...     5
57     58034  ...     5
63     65183  ...     5
64     64678  ...     5
80     72309  ...     5
88     70427  ...     5
96     59873  ...     5
112    65300  ...     5
113    61181  ...     5
141    56321  ...     5
143    69117  ...     5
145    58731  ...     5
150    73604  ...     5
155    71137  ...     5
158    64748  ...     5
159    59513  ...     5
164    55654  ...     5
167    70597  ...     5
170    72233  ...     5
...      ...  ...   ...
32705  62846  ...     5
32709  68577  ...     5
32714  56598  ...     5
32735  61072  ...     5
32743  54820  ...     5
32748  55548  ...     5
32759  63951  ...     5
32761  58084  ...     5
32774  70084  ...     5
32775  72432  ...     5
32778  56635  ...     5
32786  69647  ...     5
32805  64887  ...     5
32806  54042  ...     5
32807  70943  ...     5
32814  60879  ...     5
32815  69552  ...     5
32818  63714  ...     5
32829  54816  ...     5
32830  60265  ...     5
32837  69152  ...     5
32844  64133  ...     5
32850  60593  ...     5
32853  68190  ...     5
32855  60378  ...     5
32867  78044  ...     5
32872  62072  ...     5
32874  69840  ...     5
32884  73374  ...     5
32904  60302  ...     5

[4380 rows x 4 columns]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 6]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 6) & (train_kmeans_result['injection'] == True)]

In [0]:
train_kmeans_result[train_kmeans_result['class'] == 7]

          id  ... class
8      39050  ...     7
33     38735  ...     7
40     37884  ...     7
42     43489  ...     7
44     37057  ...     7
47     32174  ...     7
51     23278  ...     7
52     34292  ...     7
54      3201  ...     7
56     38921  ...     7
66     33957  ...     7
67     31421  ...     7
68     43843  ...     7
79       258  ...     7
90     23221  ...     7
92     24562  ...     7
93     12140  ...     7
111    16772  ...     7
126    19218  ...     7
133    31940  ...     7
136     4221  ...     7
147      630  ...     7
148    34791  ...     7
151    20075  ...     7
171    11794  ...     7
193    17421  ...     7
194    26511  ...     7
201    38931  ...     7
223    15491  ...     7
226     9341  ...     7
...      ...  ...   ...
32700   2777  ...     7
32726  27761  ...     7
32734   1538  ...     7
32746  35757  ...     7
32751  13772  ...     7
32752  27243  ...     7
32753  12582  ...     7
32755  37610  ...     7
32760  35078  ...     7
32773   2628  ...     7
32792  27195  ...     7
32796  25588  ...     7
32800  24659  ...     7
32802  28713  ...     7
32804  29908  ...     7
32810  39615  ...     7
32824  14642  ...     7
32826  39132  ...     7
32842   9268  ...     7
32843  28206  ...     7
32849  34593  ...     7
32852  14838  ...     7
32856   7770  ...     7
32880  31541  ...     7
32887  39630  ...     7
32889  17858  ...     7
32907  17138  ...     7
32912  18736  ...     7
32915   5993  ...     7
32925  38295  ...     7

[3633 rows x 4 columns]

In [0]:
train_kmeans_result[(train_kmeans_result['class'] == 7) & (train_kmeans_result['injection'] == True)]

           id  ... class
3762    85064  ...     7
6122    85744  ...     7
9189    94088  ...     7
11150   96473  ...     7
13057   97146  ...     7
13189  103129  ...     7
14608   91648  ...     7
15673   90675  ...     7
20628   92227  ...     7
22188   96895  ...     7
23908   96554  ...     7
24205   90808  ...     7
26437   90605  ...     7
28275   97051  ...     7
28440  102327  ...     7
30668   84985  ...     7
32302   92998  ...     7

[17 rows x 4 columns]

In [0]:
[len(train_kmeans_result[train_kmeans_result['class'] == x]) for x in range(8)]

[5649, 4158, 6120, 3362, 3662, 4436, 1907, 3633]

In [0]:
a = [len(train_kmeans_result[(train_kmeans_result['class'] == x) & (train_kmeans_result['injection'] == True)]) / len(train_kmeans_result[train_kmeans_result['class'] == x]) for x in range(8)]
b = [x if x > 0.5 else 1 - x for x in a]

In [0]:
print(a)
print(b)

[0.13577624358293502, 0.6253006253006252, 0.08022875816993465, 0.9309934562760261, 0.8872200983069362, 0.9873760144274121, 0.8248557944415312, 0.004679328378750344]
[0.864223756417065, 0.6253006253006252, 0.9197712418300653, 0.9309934562760261, 0.8872200983069362, 0.9873760144274121, 0.8248557944415312, 0.9953206716212497]

In [0]:
kmeans_double = KMeans(n_clusters=2, n_init=10, n_jobs=-1)
train_labels = kmeans_double.fit_predict(vector_features)
kmeans_double_result = pd.DataFrame(train_data)
kmeans_double_result['class'] = train_labels.copy()

In [0]:
percentage = [len(kmeans_double_result[(kmeans_double_result['class'] == x) & (kmeans_double_result['injection'] == True)]) / len(kmeans_double_result[kmeans_double_result['class'] == x]) for x in range(2)]
percentage = [x if x > 0.5 else 1 - x for x in percentage]
length = [len(kmeans_double_result[kmeans_double_result['class'] == x]) for x in range(2)]
print(percentage)
print(length)

[0.5154016866400355, 0.5198504293232389]
[11265, 21662]

### 16 clusters

In [19]:
kmeans_sixteen = KMeans(n_clusters=16, n_init=10, n_jobs=-1)
train_labels = kmeans_sixteen .fit_predict(vector_features)
kmeans_sixteen_result = pd.DataFrame(train_data)
kmeans_sixteen_result['class'] = train_labels.copy()

In [22]:
cluster_sizes = [len(kmeans_sixteen_result[kmeans_sixteen_result['class'] == x]) for x in range(16)]
injection_part_sizes = [len(kmeans_sixteen_result[(kmeans_sixteen_result['class'] == x) & (kmeans_sixteen_result['injection'] == True)]) for x in range(16)]
percentage = [injection_part_size / cluster_size for cluster_size, injection_part_size in zip(cluster_sizes, injection_part_sizes)]
percentage = [x if x > 0.5 else 1 - x for x in percentage]
print(cluster_sizes)
print(injection_part_sizes)
print([f'{perc:0.3}' for perc in percentage])

[1387, 3770, 2803, 1945, 1787, 1768, 2182, 1955, 1470, 2455, 1111, 2540, 1292, 1879, 2214, 2369]
[1359, 48, 329, 365, 1733, 62, 2173, 49, 1445, 1797, 1068, 1979, 97, 1727, 1155, 635]
['0.98', '0.987', '0.883', '0.812', '0.97', '0.965', '0.996', '0.975', '0.983', '0.732', '0.961', '0.779', '0.925', '0.919', '0.522', '0.732']

In [27]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 0]

,id,text,injection,class
3,69633,"""union\t#945 iagoqs aqqgcs acwkyw 671 jrvxsb \...",True,0
7,65594,""" union/**/distinct/*3 619 14 8 25 */( selectw...",True,0
30,59181,' and--\r(--43 465 \rselect/*wpwjco */\t599#19...,True,0
49,65015,""" union--648 pxfqqk vejomf \rdistinct/*cqqkwx ...",True,0
56,55921,"""and--\r""qckfbi"">pixnhs\t((13), --\r521, (kxfi...",True,0
67,73538,""" or41<>fuqsdj((/*M! tulhup()),*/ 493, (xcoecg...",True,0
96,54517,""" union \tselect/*M!\t*/\trkymgf ((64), 717, ...",True,0
128,68022,"""union (--dgndwm rymxbp 328 bsspgl huyghf yilm...",True,0
165,72006,"""union/*hhjcck 98 26 sejhhh 654 tanvfg venelw ...",True,0
209,64125,' union--xjvqxm iretqb 395 kxafpy fjifva 965 \...,True,0
231,56234,"""orhvmufc((/**/'npityh'), \tdllkpa (), (uqtujv...",True,0
239,72365,'union\tall select#\r--rstrww 361 tdxkpy \rjxp...,True,0
321,62534,""" and\t77=(select\t/*M!92 \t391\tfrom uowuyt*...",True,0
326,54109,"' union\t/*M!\tselect(rpnrgq(555*/, ( 926), (\...",True,0
329,62946,"' and(selectrpthdt, /*M!(xggqrx), 464, */(ndgg...",True,0
385,70015,' union distinct\t( select\t/*M!(ckaqqa((27)*...,True,0
406,60647,'union#\r(select--\r(#wgsovl 88 newnlm bnlafr ...,True,0
435,68579,"""uniondistinct--87 887 965 uigorj 734 387 ilaj...",True,0
439,63744,""" /*!or 896<>*/(select\tcjaqlu, ( saivyn ((dn...",True,0
455,21076,"<div class=""row"">\r\n <div class=""col-xs-4"">\r...",False,0
459,70427,""" union\tdistinct\t(--\rselect(kklgka(#umttwv ...",True,0
463,59381,'and--587 711 dyavfy ewaecm 228 vrmfuc thtagw ...,True,0
478,61711,4 union\tselect xiupbk--15 whngyg 946 hkyuob ...,True,0
531,59553,7 and\t(select ldacok/*kjqwgg ahrdat 862 67 */...,True,0
532,54613,"' union/*M! all(select*/ enhikr\t(\twsouml(), ...",True,0
543,64481,"""union#265 65 lroray \rdistinct#taxavx \rselec...",True,0
561,60523,14 union/*romfhy ykokko gsckpp psayob 324 ndhc...,True,0
616,62316,' and (\tselect(372)from/*M! example.example)...,True,0
623,59201,""" or 85!=(select\t""ftpcqq""from/**/example.exam...",True,0
656,72326,"""uniondistinct--\rselect/**/\tpoyagd/*qawfab 3...",True,0
...,...,...,...,...
31976,64841,' union/*qtxaqe thwqey fletwi */all (#792 ghiw...,True,0
32007,55821,' uniondistinct ( select\t(/*M!69 trfxfx( (ps...,True,0
32021,71046,1 unionall/**/select\t(jbnyfs((--\r'hrbqgt'))),True,0
32026,57426,' and/*61 784 yjcbwq 196 cmecev 476 rlftlv cbt...,True,0
32060,59313,'and--ppcgdq icqkqd kievcx \r(/**/select#\r(tp...,True,0
32118,61628,' union\tselect\t(jdapjh#ucgmal 53 219 kggdyq ...,True,0
32136,61697,'union\t(select/*5 ulimkq 965 mylsrt */(/*jnxw...,True,0
32158,54574,""" union\tall/*!311 (\tselect*/\tqvhues( 892), ...",True,0
32195,72334,'union#\rallselect--cfpofn \rgcugnf(/*sououd 4...,True,0
32231,68368,""" union\t( select--upahfn fbfjyr hctmcl 95 xfc...",True,0
32247,70026,' union\tallselect /*M!lwtcnc*/ (bsfmfc()),True,0
32303,59175,' and#\r'iduaxu'!=(select/*48 jyprje 28 311 cg...,True,0
32336,60914,'union distinct( select--pqyywg 412 wfvrrv cnm...,True,0
32337,65737,' union\t select/**/--418 339 mfrfxk 318 kprxd...,True,0
32361,70375,"' union\tselect (jjkugk/*!()), ( */gvxqqj((ld...",True,0
32372,69799,'union--\rall/*86 962 bqerrw 536 753 72 */#hcr...,True,0
32382,97864,**/wui/admin/application/modules/api/models/ex...,True,0
32453,63047,""" and\t(select/*!\t(afswci), ( 733)*/, iyiywk\...",True,0
32471,64851,"""uniondistinct/*39 66 jfvblq 84 46 pccgic */(#...",True,0
32478,64420,"""union--\rdistinct--\rselect vlaqba from\texam...",True,0
32490,68619,""" union--\r#openjw 64 39 lgqnod 84 qbljyy \rse...",True,0
32526,62520,' and\t/*M!297<( select*/ tpdsba\tfrom\tbaaruw),True,0
32530,22448,"""sound technician"" or ""sound engineer"" or ""aud...",False,0
32538,63311,""" and\t61!=/*!(select (64)\t*/from qkmieg)",True,0
32557,54942,"' union\tselect/*M!gxvlbd*/( glsubn()), ( dpjj...",True,0
32582,56122,""" or--\rwbgdok/*bhhiem */(""eknpmy"", ksusdd--76...",True,0
32587,56959,"""or#\rdifrdi/*kndkgu 569 829 */(#wmeqro 218 nq...",True,0
32743,54642,"' union\tselect /*!gssdup(\tvmivig*/()), \tg...",True,0
32808,58222,"3 and#\r(--\rselect (\tpuapfa( 'fsivui')), 'j...",True,0
32891,63905,"'union distinctselect ('touujd'), (rcgbfl), (-...",True,0

In [26]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 0) & (kmeans_sixteen_result['injection'] == True)]

,id,text,injection,class
3,69633,"""union\t#945 iagoqs aqqgcs acwkyw 671 jrvxsb \...",True,0
7,65594,""" union/**/distinct/*3 619 14 8 25 */( selectw...",True,0
30,59181,' and--\r(--43 465 \rselect/*wpwjco */\t599#19...,True,0
49,65015,""" union--648 pxfqqk vejomf \rdistinct/*cqqkwx ...",True,0
56,55921,"""and--\r""qckfbi"">pixnhs\t((13), --\r521, (kxfi...",True,0
67,73538,""" or41<>fuqsdj((/*M! tulhup()),*/ 493, (xcoecg...",True,0
96,54517,""" union \tselect/*M!\t*/\trkymgf ((64), 717, ...",True,0
128,68022,"""union (--dgndwm rymxbp 328 bsspgl huyghf yilm...",True,0
165,72006,"""union/*hhjcck 98 26 sejhhh 654 tanvfg venelw ...",True,0
209,64125,' union--xjvqxm iretqb 395 kxafpy fjifva 965 \...,True,0
231,56234,"""orhvmufc((/**/'npityh'), \tdllkpa (), (uqtujv...",True,0
239,72365,'union\tall select#\r--rstrww 361 tdxkpy \rjxp...,True,0
321,62534,""" and\t77=(select\t/*M!92 \t391\tfrom uowuyt*...",True,0
326,54109,"' union\t/*M!\tselect(rpnrgq(555*/, ( 926), (\...",True,0
329,62946,"' and(selectrpthdt, /*M!(xggqrx), 464, */(ndgg...",True,0
385,70015,' union distinct\t( select\t/*M!(ckaqqa((27)*...,True,0
406,60647,'union#\r(select--\r(#wgsovl 88 newnlm bnlafr ...,True,0
435,68579,"""uniondistinct--87 887 965 uigorj 734 387 ilaj...",True,0
439,63744,""" /*!or 896<>*/(select\tcjaqlu, ( saivyn ((dn...",True,0
459,70427,""" union\tdistinct\t(--\rselect(kklgka(#umttwv ...",True,0
463,59381,'and--587 711 dyavfy ewaecm 228 vrmfuc thtagw ...,True,0
478,61711,4 union\tselect xiupbk--15 whngyg 946 hkyuob ...,True,0
531,59553,7 and\t(select ldacok/*kjqwgg ahrdat 862 67 */...,True,0
532,54613,"' union/*M! all(select*/ enhikr\t(\twsouml(), ...",True,0
543,64481,"""union#265 65 lroray \rdistinct#taxavx \rselec...",True,0
561,60523,14 union/*romfhy ykokko gsckpp psayob 324 ndhc...,True,0
616,62316,' and (\tselect(372)from/*M! example.example)...,True,0
623,59201,""" or 85!=(select\t""ftpcqq""from/**/example.exam...",True,0
656,72326,"""uniondistinct--\rselect/**/\tpoyagd/*qawfab 3...",True,0
663,71408,59 union\tselect#845 gcxchg 736 \rnuekxv/*kern...,True,0
...,...,...,...,...
31959,70700,"""union all\t(\tselect lslloi(#524 331 \r#394 6...",True,0
31976,64841,' union/*qtxaqe thwqey fletwi */all (#792 ghiw...,True,0
32007,55821,' uniondistinct ( select\t(/*M!69 trfxfx( (ps...,True,0
32021,71046,1 unionall/**/select\t(jbnyfs((--\r'hrbqgt'))),True,0
32026,57426,' and/*61 784 yjcbwq 196 cmecev 476 rlftlv cbt...,True,0
32060,59313,'and--ppcgdq icqkqd kievcx \r(/**/select#\r(tp...,True,0
32118,61628,' union\tselect\t(jdapjh#ucgmal 53 219 kggdyq ...,True,0
32136,61697,'union\t(select/*5 ulimkq 965 mylsrt */(/*jnxw...,True,0
32158,54574,""" union\tall/*!311 (\tselect*/\tqvhues( 892), ...",True,0
32195,72334,'union#\rallselect--cfpofn \rgcugnf(/*sououd 4...,True,0
32231,68368,""" union\t( select--upahfn fbfjyr hctmcl 95 xfc...",True,0
32247,70026,' union\tallselect /*M!lwtcnc*/ (bsfmfc()),True,0
32303,59175,' and#\r'iduaxu'!=(select/*48 jyprje 28 311 cg...,True,0
32336,60914,'union distinct( select--pqyywg 412 wfvrrv cnm...,True,0
32337,65737,' union\t select/**/--418 339 mfrfxk 318 kprxd...,True,0
32361,70375,"' union\tselect (jjkugk/*!()), ( */gvxqqj((ld...",True,0
32372,69799,'union--\rall/*86 962 bqerrw 536 753 72 */#hcr...,True,0
32382,97864,**/wui/admin/application/modules/api/models/ex...,True,0
32453,63047,""" and\t(select/*!\t(afswci), ( 733)*/, iyiywk\...",True,0
32471,64851,"""uniondistinct/*39 66 jfvblq 84 46 pccgic */(#...",True,0
32478,64420,"""union--\rdistinct--\rselect vlaqba from\texam...",True,0
32490,68619,""" union--\r#openjw 64 39 lgqnod 84 qbljyy \rse...",True,0
32526,62520,' and\t/*M!297<( select*/ tpdsba\tfrom\tbaaruw),True,0
32538,63311,""" and\t61!=/*!(select (64)\t*/from qkmieg)",True,0
32557,54942,"' union\tselect/*M!gxvlbd*/( glsubn()), ( dpjj...",True,0
32582,56122,""" or--\rwbgdok/*bhhiem */(""eknpmy"", ksusdd--76...",True,0
32587,56959,"""or#\rdifrdi/*kndkgu 569 829 */(#wmeqro 218 nq...",True,0
32743,54642,"' union\tselect /*!gssdup(\tvmivig*/()), \tg...",True,0
32808,58222,"3 and#\r(--\rselect (\tpuapfa( 'fsivui')), 'j...",True,0
32891,63905,"'union distinctselect ('touujd'), (rcgbfl), (-...",True,0

In [28]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 1]

,id,text,injection,class
17,41029,/handler_sync_example.example?i=+7VfHqE9fu5/C+...,False,1
32,14408,/handler_sync_example.example?i=lSj1le9RsQUKgR...,False,1
34,36348,/handler_sync_example.example?i=vH/MUAP9VEzFBk...,False,1
37,12405,/handler_sync_example.example?i=TmfR8tZRMtYAQX...,False,1
43,28206,/handler_sync_example.example?i=wQjbBXCvo6T6Kg...,False,1
80,43028,/handler_sync_example.example?i=6MJeccwJmcShWS...,False,1
83,38848,/handler_sync_example.example?i=hf3f3akXIB/evf...,False,1
88,28310,/handler_sync_example.example?i=qgg6Esg6dg/K3u...,False,1
91,43323,/handler_sync_example.example?i=mJPLR7itGBx2ZX...,False,1
97,4374,/handler_sync_example.example?i=mwtQTamz/fEJKb...,False,1
98,29228,/handler_sync_example.example?i=RJst/UB/3saX8Y...,False,1
103,28845,/handler_sync_example.example?i=UuEIfQN6Q9gdhV...,False,1
106,33165,/handler_sync_example.example?i=tFb3/fjXovuKKE...,False,1
107,12816,/handler_sync_example.example?i=aA1fjU1vMzXHQR...,False,1
114,45755,/handler_sync_example.example?i=4I27IngwHnoHxv...,False,1
127,25529,/handler_sync_example.example?i=4rkF41CcJK15nc...,False,1
133,45328,/handler_sync_example.example?i=6a8jbtILsUFBlG...,False,1
141,29800,/handler_sync_example.example?i=fkpV1iLtTeXYh5...,False,1
143,7934,/handler_sync_example.example?i=Q7WUwUFEFf9/ON...,False,1
144,21746,/handler_sync_example.example?i=qiEVdDaTenMmPg...,False,1
159,7812,/handler_sync_example.example?i=7y19yGO6WiTVkN...,False,1
178,18881,/handler_sync_example.example?i=8kPEc9UnSkhDEM...,False,1
185,26624,/handler_sync_example.example?i=kkgUNNWzzoHXG1...,False,1
186,38731,/handler_sync_example.example?i=UiGXATbec39XyU...,False,1
191,5331,/handler_sync_example.example?i=ZM4v4DpCFcQS6x...,False,1
195,23611,/handler_sync_example.example?i=SVi7Z/ONMXzGNj...,False,1
203,14263,/handler_sync_example.example?i=Ajuk1UYU2DviQC...,False,1
210,40765,/handler_sync_example.example?i=CbkFwzEY2kOSoa...,False,1
214,9727,/handler_sync_example.example?i=fK21UpcnimzScu...,False,1
216,26,/handler_sync_example.example?i=1dkZbh/oNUUYB8...,False,1
...,...,...,...,...
32686,26803,/handler_sync_example.example?i=N9BSl/OnKZNInL...,False,1
32692,31413,/handler_sync_example.example?i=2Pbfo78HMoOOee...,False,1
32697,34250,/handler_sync_example.example?i=6EBfYwgio26D+O...,False,1
32700,45416,/handler_sync_example.example?i=P9SA5O/JWxb+99...,False,1
32716,35840,/handler_sync_example.example?i=Kp+lIDfvrS+9v2...,False,1
32719,35217,/handler_sync_example.example?i=xlKvK+AOKRjj43...,False,1
32721,5623,/handler_sync_example.example?i=pKCdUnFW9S5+SR...,False,1
32736,21868,/handler_sync_example.example?i=9rWP5yIEUWIOyA...,False,1
32737,20057,/handler_sync_example.example?i=WwJYOapJ5qIgeG...,False,1
32740,40208,/handler_sync_example.example?i=EuE3T2/s8bBed2...,False,1
32742,22775,/handler_sync_example.example?i=OJ2jr3uhaNkNua...,False,1
32761,12898,/handler_sync_example.example?i=ogEP5H5W/RbAdS...,False,1
32763,35988,/handler_sync_example.example?i=wmfGJ46fhO7EaZ...,False,1
32771,26930,/handler_sync_example.example?i=72gsZEgFp9W/oN...,False,1
32774,15698,/handler_sync_example.example?i=xKRKDnTRKW6UU8...,False,1
32785,28713,/handler_sync_example.example?i=VfciJAtr8j3/on...,False,1
32810,16784,/handler_sync_example.example?i=ZgnySUQyJTAOM2...,False,1
32818,791,/handler_sync_example.example?i=Oy7dvPHotI9WBC...,False,1
32831,19255,/handler_sync_example.example?i=4L2J457SaMNLIw...,False,1
32843,12668,/handler_sync_example.example?i=2SxHOQNJ9/JBJK...,False,1
32849,2635,/handler_sync_example.example?i=hPCzZa1s7gBA6p...,False,1
32854,34287,/handler_sync_example.example?i=i2ZfHe76t3qzAL...,False,1
32859,22282,/handler_sync_example.example?i=r6vrwygU9ylFj3...,False,1
32860,29318,/handler_sync_example.example?i=inwOi5OjsUBxDb...,False,1
32872,21042,/handler_sync_example.example?i=h+SloDQCDXLFe+...,False,1
32874,30078,/handler_sync_example.example?i=1y6Fg+XB42Oyk+...,False,1
32881,7577,/handler_sync_example.example?i=vXv7314Fn+eRPd...,False,1
32892,6933,/handler_sync_example.example?i=lVU5j4JUq3Ec4d...,False,1
32903,5840,/handler_sync_example.example?i=Rb/L8UP6qTNafD...,False,1
32920,22925,/handler_sync_example.example?i=CkJnLLKhaFatYK...,False,1

In [29]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 1) & (kmeans_sixteen_result['injection'] == True)]

,id,text,injection,class
617,103803,/example.example?Session=LXOFIIGVFSY18&View=Li...,True,1
705,99619,/example.example?Session=WZIWK3ELZM5O1&View=Me...,True,1
1043,87193,/example.example?Session=JWDBVJ47JSKHN&View=Li...,True,1
1914,100206,/example.example?Session=PFX4F3QWXHQQV&View=Li...,True,1
2229,95818,/example.example?Session=YHHD2QOGRFYZJ&View=Li...,True,1
2405,96489,/ar/job-search-results/?agent=..%76473F..%6666...,True,1
3686,100942,/example.example?Session=MJ5RFI64HE1L9&View=Do...,True,1
4034,90084,/ar/job-application/?jb_id=..%37791F..%58844F....,True,1
5820,92767,/scripts/example.example?%2CIMG%44SRC=%19javas...,True,1
6178,100998,/example.example?Session=JM8NSVJ89ADLH&View=Me...,True,1
6250,105241,/example.example?Session=KDM6XQVLJMHQP&View=Li...,True,1
6348,99994,/example.example?Session=LXOFIIGVFSY18&View=Li...,True,1
7121,98153,/en/get_js_registrations?%5CSTYLE%23TYPE=%74te...,True,1
7755,85581,/example.example?Session=DX6QV1H6KY8PS&View=Li...,True,1
8623,99220,/ar/job-search-results/?agent=..%59299F..%1754...,True,1
9805,103921,/example.example?Session=QBRKMNR6X2GCG&View=Li...,True,1
9928,99446,/example.example?Session=ZCLW4A7PNDA35&View=Li...,True,1
10014,103022,/example.example?Session=BWG7ZVAXM8OLU&View=Li...,True,1
10257,93773,/ar/bahrain/..%56291F..%85353F..%32542F..%2724...,True,1
10727,103017,/example.example?Session=Z5NBGGBV7A88W&View=Li...,True,1
11279,88314,/example.example?Session=EW1H2AUOJ9JRL&View=Li...,True,1
11657,104082,/example.example?Session=FF8LNSGAGM18U&View=Li...,True,1
12210,90683,/example.example?Session=U2ED4H2TD88OH&View=Li...,True,1
12582,85860,/ar/job-search-results/?agent=..%54146F..%5873...,True,1
12646,103584,/example.example?Session=JM1NSVJ93ADLH&View=Li...,True,1
12806,101109,/example.example?Session=C5RGF9KBBLFDU&View=Li...,True,1
13374,83495,/registration/en/?utm_campaign=cta_&lpsn=WoWS ...,True,1
13829,103891,/example.example?Session=RO1RL4MLM8NXK&View=Li...,True,1
15466,97007,/example.example?Session=D3OICDMQZJ3F5&View=Me...,True,1
15732,99826,/example.example?Session=TI5IMZWL3N9ZD&View=Li...,True,1
17655,104270,/cgi-bin/example.example?%1CIMG%32SRC=%89javas...,True,1
20841,105468,/cgi-bin/example.example?%2CIMG%84SRC=%92javas...,True,1
21886,85343,/example.example?Session=WDYN8W1FQ3YSO&View=Li...,True,1
23172,85952,/scripts/example.example?%9CIMG%85SRC=%23javas...,True,1
24217,91087,/ar/job-search-results/?agent=..%39547F..%6991...,True,1
24647,85377,/ar/job-search-results/?agent=..%54748F..%8179...,True,1
25200,90782,/example.example?Session=K9PHLJ6QM8631&View=Li...,True,1
28296,85708,/example.example?Session=FF1LNSGAGM13U&View=Li...,True,1
28445,96570,/ar/company/career-hunters-..%89298F..%93692F....,True,1
28735,88987,/cgi-bin/example.example3?%4CIMG%44SRC=%45java...,True,1
28991,105853,/ar/job-search-results/?agent=..%14692F..%8763...,True,1
29986,96965,/example.example?Session=J829OJA2CXTGZ&View=Li...,True,1
30240,97359,/ar/job-search-results/?agent=..%73522F..%6954...,True,1
30821,87258,/cgi-bin/example.example?%2CIMG%55SRC=%65javas...,True,1
31095,80135,/plus/example.example?action=&aid=6&_FILES[typ...,True,1
31332,89196,/example.example?Session=FIQ6B6F6FW9LY&View=Li...,True,1
32105,83497,/registration/en/?utm_campaign=cta_&lpsn=WoWS ...,True,1
32562,103075,/example.example?Session=TFTL25MX71YBG&View=Li...,True,1

In [30]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 2]

          id                                         text  injection  class
5      53374                                      Jubilat      False      2
14     42823            \n<a href=htt ...  \r\n&laquo;Mis      False      2
18     33607                             body><meta name=      False      2
40     52921                        Amusement Park (song)      False      2
48     36626                          gst 259 and 296. <b      False      2
54     53609                          Poltergeist (album)      False      2
73     96234                 %866f,onmouseover=alert(317)       True      2
78     27056               x3d;data&#x3d ... x7d;and&#x2d      False      2
86     84276                             date' and 'x'='x       True      2
100    49930                         Metropolis of Nicaea      False      2
119    32732                                lta-group--%D      False      2
121    53371                         Abre Tu Coraz%C6%B9n      False      2
169    33465                             ç
..tmpeËI*©      False      2
175    53265                          Pablo Corral Embade      False      2
196    82171                          clients' aNd '1'='9       True      2
200    13974                               form-11-action      False      2
212    40035                               Order # 65      False      2
226    53329                        State highway 34 (MO)      False      2
227    18416                    ]<a href="ht ... se &#611      False      2
236    42400                         alfutaim ..bin ladan      False      2
269    49512                                    Abercynon      False      2
282    53885                               Tamar Gozansky      False      2
284    41220                       12w&query=()[]]{}#%&fr      False      2
296    34728                                      air Cur      False      2
312    52109                             Beltline Highway      False      2
315    15291                              at /etc/passwd&      False      2
341    46570                            d-4-uhd-or-9k/ [.      False      2
345    51572                                      Verines      False      2
348    50338                               Fort St Angelo      False      2
354    53129                                  Kisb%C5%A4r      False      2
...      ...                                          ...        ...    ...
32600  18097                   ell if the ... NT (not jus      False      2
32627  49249                        Texas family magazine      False      2
32641  50960                       Stary Paw%C4%75%C5%B8w      False      2
32643  16617              python java .net ios javascript      False      2
32658   3959  protein shakes like shakeology+(by+organic)      False      2
32660  13068                         max+and+co+(related)      False      2
32670  39729                       Mikey and Nicky (3871)      False      2
32727  51187                              Sacheon Airport      False      2
32735  36900                                 th="url(#eaq      False      2
32750  39104      #^/advices-([a-zA-Z8-1_-]+)/(\?(.*))?$#      False      2
32770  38698                        David and Lisa (3862)      False      2
32798  47726      mrs. pulley asked me if I saw the fight      False      2
32812  81232                             view' aNd '2'='3       True      2
32817  50503                                Julio Bonetti      False      2
32825  76861                                html= and 3=5       True      2
32828  53730                       Fuquay, North Carolina      False      2
32829  52391                  Prime Minister of Swaziland      False      2
32842  26918                          iss Curl Secret C98      False      2
32855  16899              arisu or arisu (alice or alice)      False      2
32857  50948                            J. Sarsfield Ward      False      2
32861  33176               minus--example@example.example      False      2
32866   2678                          sex and London (wit      False      2
32871  50446                      Parapsectris fastidiosa      False      2
32876  82007                            false' aNd '5'='7       True      2
32877  81137                           search' aNd '6'='6       True      2
32883  52550                              Hanzo Yamanashi      False      2
32904  51173                   Vidas Cruzadas (webnovela)      False      2
32914  77545                      revmatology' and 'x'='x       True      2
32922  52127                         Mallorytown, Ontario      False      2
32924  23147                        %2D&onepasswdfill=h83      False      2

[2803 rows x 4 columns]

In [31]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 2) & (kmeans_sixteen_result['injection'] == True)]

          id                                   text  injection  class
73     96234           %866f,onmouseover=alert(317)       True      2
86     84276                       date' and 'x'='x       True      2
196    82171                    clients' aNd '1'='9       True      2
390    78385            price WAITFOR DELAY '8:7:8'       True      2
418    77921           gallery AND 6352=8495-- FJOr       True      2
576    80800                     search' aNd '6'='3       True      2
628    80767                     search' aNd '3'='6       True      2
755    76589                               order by       True      2
813    82003                      false' aNd '8'='1       True      2
833    82026                      false' aNd '5'='2       True      2
883    84266                       date' and 'x'='x       True      2
983    83147                ru' AnD sLeep(4) ANd '9       True      2
1035   82169                    clients' aNd '5'='9       True      2
1133   97487                 onmouseover=alert(637)       True      2
1197   82206                    clients' aNd '2'='1       True      2
1237   80602                        all' aNd '4'='2       True      2
1262   81094                        all' aNd '5'='9       True      2
1342   82027                      false' aNd '6'='1       True      2
1394   83769                                   core       True      2
1495   81116                        buy' aNd '9'='1       True      2
1920   76583                                 having       True      2
1950   82131                    clients' aNd '9'='2       True      2
2261   81200                       view' aNd '2'='6       True      2
2694   81260                       view' aNd '1'='1       True      2
2755   81124                        buy' aNd '4'='8       True      2
2973   81287                       view' aNd '6'='2       True      2
3114   79064  search)/**/ORDER/**/BY/**/4--/**/kGcM       True      2
3160   80760                     search' aNd '3'='3       True      2
3282   77630  gallery) AND 6472=5727 AND (3539=6738       True      2
3308   83761                       core" and "x"="x       True      2
...      ...                                    ...        ...    ...
30155  76900                example.example and 3>7       True      2
30270  85300          /%7Cscript%9Efoo%3C/script%1E       True      2
30302  80003                            /net_home//       True      2
30398  80595                        all' aNd '8'='8       True      2
30451  81254                       view' aNd '6'='2       True      2
31109  81951                      false' aNd '4'='7       True      2
31176  81240                       view' aNd '6'='4       True      2
31196  83238                          /?language=ru       True      2
31440  79558     ,(select*from(select(sleep(32)))a)       True      2
31486  77069            example.example" and "x"="x       True      2
31501  82195                    clients' aNd '6'='8       True      2
31679  83786          core' AnD sLeep(1) ANd '9'='5       True      2
31706  77058             /cars/\'%89and%59\'x\'=\'x       True      2
31819  80742                     search' aNd '3'='7       True      2
31855  80557                        all' aNd '4'='7       True      2
31904  76562                        hi' or 'x'='x';       True      2
31952  84264                       date' and 'x'='x       True      2
31975  80403        New region' AnD sLeep(6) ANd '8       True      2
32014  77679  gallery) AND 4981=1435 AND (5638=5743       True      2
32065  80758                     search' aNd '5'='7       True      2
32131  56203                  "and--\rngpivs()>=598       True      2
32265  83775                                   core       True      2
32435  81105                        buy' aNd '7'='1       True      2
32506  80605                        all' aNd '3'='3       True      2
32599  82168                    clients' aNd '3'='9       True      2
32812  81232                       view' aNd '2'='3       True      2
32825  76861                          html= and 3=5       True      2
32876  82007                      false' aNd '5'='7       True      2
32877  81137                     search' aNd '6'='6       True      2
32914  77545                revmatology' and 'x'='x       True      2

[329 rows x 4 columns]

In [32]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 3]

,id,text,injection,class
13,1713,\n/Length 7223\n/Subtype /XML\n>>\nstream\n<?x...,False,3
27,3855,"W/""a644d-joA8q5ncvZCExj8dCBP/ye+exec""",False,3
33,81,// 8.6.51 ToLength\nvar toInteger = require('....,False,3
44,33923,"{""project"":""3"",""logger"":""javascript"",""platform...",False,3
45,12030,">\n\t<meta http-equiv=""Co ... set=ISO-453 ... ...",False,3
51,19623,®¢S<%* ... 369c98d33d76b214654d22f6â75,False,3
118,77871,2' AND (SELECT 'UvUh' FROM RDB$DATABASE)='UvUh...,True,3
120,23241,<bm><f5>Text</f5><f2>6485647311217</f8><v7 cla...,False,3
130,77627,Mozilla/8.4 (X67; U; Linux i777; en; rv:7.2.2....,True,3
135,30499,WordPress/4.3.6; http://example.example.by; ve...,False,3
157,46784,"<p style=""te ... er"" src=""si ... ;"">&nbsp;</p",False,3
176,78971,"[{""user"":""2727683312"",""page_id"":""ee95jg"",""post...",True,3
179,77520,(SELECT (CASE WHEN (4491=3568) THEN 5617 ELSE ...,True,3
181,31698,"- Касса 75.856.499.98, POS1, Shtrih, прошивка...",False,3
208,41047,"куртки с тв<iframe width=""362"" height=""284"" sr...",False,3
232,10275,"""$sb YES $sc 9532""~529 AND ""$sb YES"" AND ""$sc ...",False,3
246,51,"\n<?include($_SERVER['DOCUMENT_ROOT'].""/local/...",False,3
265,25594,SELECT * FROM `d4gheg3nbz_statistics_visitor` ...,False,3
291,80044,"SELECT percentile(""reqtime"", 59) FROM ""nginx"" ...",True,3
365,82473,1) AND 9=(SELECT 7 FROM PG_SLEEP(8)) AND (1377...,True,3
387,5050,"<a href=""https://example.example.ru/world/8283...",False,3
411,82480,2) AND 5=(SELECT 5 FROM PG_SLEEP(5)) AND (2563...,True,3
415,80390,"en"" or (3,6)=(select*from(select name_const(CH...",True,3
471,22530,SELECT * FROM `wp_yoast_seo_links` WHERE `id` ...,False,3
481,37843,"\nexample.example.pl������""m}�..Tmp�'�X||...",False,3
484,30264,/OA_HTML/example.example?Nrpp=62&Nr=OR(example...,False,3
486,4188,SELECT * FROM `wp_icl_strings` WHERE `id` > '4...,False,3
493,28092,"<lj-embed>\r\n<iframe src=""https://example.exa...",False,3
500,21227,"{""project"":""8"",""logger"":""javascript"",""platform...",False,3
528,96935,%8C!--%12begin%32jivosite%64code%13%7Bliteral%...,True,3
...,...,...,...,...
32315,27837,<p>\r\n\tAvez-vous bien lu le contenu : <a hre...,False,3
32339,82665,GA4.9.1891753322.3417111884'(select*from(selec...,True,3
32392,41182,"{""t"":""2258-71-96 18:68:93"",""a"":""Mozilla/7.2 (L...",False,3
32407,874,<p>Script applied when there was no Container ...,False,3
32465,10357,3=Возникла проблема при загрузке чанка ./UIFee...,False,3
32488,14669,"""Auch dieses Jahr wartet am Vertanzt ein farbi...",False,3
32514,4470,"[{""type"":""test"",""msg"":""user_data_response: und...",False,3
32520,8150,[...] Informations on that Topic: example.exa...,False,3
32561,32567,"<fRame src=""//h5pbvto4bvhqx2abwqva6b9yop_f1sog...",False,3
32593,43239,"SELECT to_char(itemid, 'FM7255146355694825954...",False,3
32640,5669,9r£ sRC/pÉ ... ùV&#X4Vq²jÇæöÎøÈùv¡)VC,False,3
32666,105,"""Q·'ÐòsRCòíËp;QùyÇ½J¨1¶==ý ... óß?¦¨ u ~...",False,3
32668,42812,"{""taskId"":988218141,""userUid"":""R4pAA4lvGHeW"",""...",False,3
32694,16510,<style>\r\n\r\n.breadcrumbs {\r\n margin: 5...,False,3
32702,17371,"<p>\n\tGood Morning, Good Afternoon All --</p>...",False,3
32703,3614,"<a href=""https://cdn.example.example/example.e...",False,3
32713,37885,"<!DOCTYPE HTML PUBLIC ""-//IETF//DTD HTML 1.5//...",False,3
32734,102316,[%1B%23templateType%41:%22ProjectWithDependenc...,True,3
32744,85319,%8C!--%21BEGIN%74JIVOSITE%36CODE%33%6Bliteral%...,True,3
32801,23049,"><a href=""ht ... tr"" src=""si ... pg"" style=""wi...",False,3
32821,41987,WordPress/1.1.9; http://example.example.exampl...,False,3
32827,30779,"""4.1"" encoding=""utf-7""?>\r\n<disp_object_block...",False,3
32832,28048,"""$sa 99 $sd Società""~716 AND ""$sa 68"" AND ""$sd...",False,3
32834,2532,"FC?#+&2;@EG<(,=C>3""/3+8<?GF8(/1988(n�",False,3
32862,38134,"echo '<pre>';\nprint_r(exec('ls -la ../', $res...",False,3
32893,44983,бигуди-расчески problo curl me купить в,False,3
32899,30245,"""$sa 14 $sb MO16 $sf 58-22""~928 AND ""$sa 65"" A...",False,3
32906,38689,"if (!CSaleOrder::PayOrder(977383, ""Y"", True, T...",False,3
32916,82642,GA1.7.5647612469.8568236612')waitfor delay'5:5...,True,3
32923,30524,""".Video_Control,null,null,object[type=\""applic...",False,3

In [33]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 3) & (kmeans_sixteen_result['injection'] == True)]

,id,text,injection,class
118,77871,2' AND (SELECT 'UvUh' FROM RDB$DATABASE)='UvUh...,True,3
130,77627,Mozilla/8.4 (X67; U; Linux i777; en; rv:7.2.2....,True,3
176,78971,"[{""user"":""2727683312"",""page_id"":""ee95jg"",""post...",True,3
179,77520,(SELECT (CASE WHEN (4491=3568) THEN 5617 ELSE ...,True,3
291,80044,"SELECT percentile(""reqtime"", 59) FROM ""nginx"" ...",True,3
365,82473,1) AND 9=(SELECT 7 FROM PG_SLEEP(8)) AND (1377...,True,3
411,82480,2) AND 5=(SELECT 5 FROM PG_SLEEP(5)) AND (2563...,True,3
415,80390,"en"" or (3,6)=(select*from(select name_const(CH...",True,3
528,96935,%8C!--%12begin%32jivosite%64code%13%7Bliteral%...,True,3
570,98181,GIF52a%91%7C?php%82echo%49'izocin'.'%4Cbr%8E'....,True,3
651,80047,"SELECT percentile(""reqtime"", 35) FROM ""nginx"" ...",True,3
654,94153,%3Cmeta%32http-equiv=Set-Cookie%42content=%21t...,True,3
690,80105,"SELECT mean(""percent"") FROM ""nginx"" WHERE ""sta...",True,3
814,81642,WCRTESTINPUT261435&login_form[location_form]=f...,True,3
880,76787,'||utl_example.example('httP://218.815.7.4/')||',True,3
918,78143,2 AND (SELECT CHR(11)&CHR(26)&CHR(397)&CHR(338...,True,3
1069,82681,GA9.1.5636326515.1596927591' waitfor delay'1:2...,True,3
1267,80109,"69"" or (6,1)=(select*from(select name_const(CH...",True,3
1312,104237,%9CBODY%69ONLOAD=alert(G2f3795312f6a1f71368888...,True,3
1325,76800,' AND 2=utl_example.example_host_address((SELE...,True,3
1480,80040,"SELECT percentile(""reqtime"", 65) FROM ""nginx"" ...",True,3
1518,102900,%7Cembed%15src=%58http://example.example.com/s...,True,3
1543,78037,""" or (2,5)=(select*from(select name_const(CHAR...",True,3
1568,90739,%6C!--%88BEGIN%54JIVOSITE%79CODE%65%9Bliteral%...,True,3
1627,78188,"-2 UNION SELECT null,172428,null,null,null,null/*",True,3
1756,80038,"SELECT mean(""usage_idle"") FROM ""cpu"" WHERE ""dc...",True,3
1813,78450,"{""user_agent"":""Mozilla/2.3 (Linux; Android 5.1...",True,3
2107,87424,%3C!DOCTYPE%17html%5E%5D%3A%5Chtml%81lang=%44e...,True,3
2151,104465,**wui%1Cadmin%1Capplication%8Cmodules%2Cadmin%...,True,3
2242,79062,(SELECT/**/(CASE/**/WHEN/**/(3312=2159)/**/THE...,True,3
...,...,...,...,...
29473,79575,"(SELECT/**/CONCAT(5x5118592a62,(SELECT/**/(ELT...",True,3
29606,80083,"SELECT mean(""usage_iowait"") FROM ""cpu"" WHERE ""...",True,3
29617,78459,"{""user_agent"":""Mozilla/6.7 (Linux; Android 8.5...",True,3
29632,81625,WCRTESTINPUT158245&login_form[location_form]=f...,True,3
29941,86064,%7CSCRIPT%2Ealert(example.example)%8C/SCRIPT%4E,True,3
30125,78467,"{""user_agent"":""Mozilla/7.4 (Linux; Android 3.9...",True,3
30244,83298,"or (5,6)=(select*from(select name_const(CHAR(...",True,3
30336,80137,"limit 3,5),5,8,9,7,6#@`\'` &_FILES[type][name...",True,3
30430,83748,"WoWS WGNR reg full RU SOI or (9,4)=(select*fro...",True,3
30598,84209,"""SIDeOYDHJhxc5QlLWrefPNg45jNl7M3F_IMOXySBnyQ1R...",True,3
30705,96272,%8CEMBED%25SRC=%91http://example.example/examp...,True,3
30709,76820,' AND 5=utl_example.example_host_address((SELE...,True,3
30806,76812,' AND 9=utl_example.example_host_address((SELE...,True,3
31013,80012,"SELECT mean(""available_percent"") FROM ""mem"" WH...",True,3
31053,83299,"or (9,6)=(select*from(select name_const(CHAR(...",True,3
31218,79653,5) AND 8=(SELECT 4 FROM PG_SLEEP(9)) AND (8968...,True,3
31328,77345,(SELECT (CASE WHEN (1446=3556) THEN 7693 ELSE ...,True,3
31458,78997,"[{""user"":""5745154441"",""page_id"":""76h7z4"",""post...",True,3
31578,81624,WCRTESTINPUT621789&login_form[location_form]=f...,True,3
31837,81643,WCRTESTINPUT843286&login_form[location_form]=f...,True,3
31870,93781,%9Cxml%93src=%96%12javascript:example.example(...,True,3
31971,100636,%6CXML%74ID=I%4E%4CX%4E%2CC%9E%2C![CDATA[%7CIM...,True,3
31998,81667,WCRTESTINPUT286265&login_form[location_form]=f...,True,3
32008,78974,"[{""user"":""5317558473"",""page_id"":""wzyupn"",""post...",True,3
32114,79746,%{(#nike='multipart/form-data').(#dm=@example....,True,3
32304,86893,IZPC6K%12%49onMouseOver=--%6E%43%5E'%3E'%34%5C...,True,3
32339,82665,GA4.9.1891753322.3417111884'(select*from(selec...,True,3
32734,102316,[%1B%23templateType%41:%22ProjectWithDependenc...,True,3
32744,85319,%8C!--%21BEGIN%74JIVOSITE%36CODE%33%6Bliteral%...,True,3
32916,82642,GA1.7.5647612469.8568236612')waitfor delay'5:5...,True,3

In [34]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 4]

,id,text,injection,class
74,75016,583 union/*!851 */,True,4
77,74465,117 union/*M!936 */,True,4
89,76222,92 union/*M!*/,True,4
153,84619,366 and 9>6,True,4
156,66541,562 union/*M!*/,True,4
164,73157,999 or\txieqwc(/*!611 389)<=76*/,True,4
206,73026,342 and 79<yljbmh()/*!*/,True,4
217,66390,' union/*M!*/,True,4
221,66243,685 union/*M!*/,True,4
279,66940,' /*M!union*/,True,4
301,56876,'or\tmqriie((ssjrsy()))<>762,True,4
340,65937,' union/*!*/,True,4
355,74391,81 union/*M!367 */,True,4
360,66326,886 union/*M!*/,True,4
402,73833,54 /*!597 and554=xfdmhi(*/ (33)),True,4
409,75216,858 union/*!*/,True,4
448,76622,uni/**/on sel/**/ect,True,4
468,67574,14 /*M!78 union*/,True,4
473,66373,645 union/*M!*/,True,4
498,54690,16 union\tdistinct/*!\t(select(kpablu()))*/,True,4
521,54291,""" union\t/*!23 select\t( nddcvn\t*/())",True,4
538,73668,979 and\twtktjw()<396/*M!*/,True,4
593,66642,' union/*M!*/,True,4
595,66330,93 union/*M!*/,True,4
642,68759,887 union (selectyvxmrs()),True,4
723,67021,' union/*M!823 */,True,4
746,74679,433 union/*!739 */,True,4
750,69244,' union (\tselect(--438 \rfgbxmr())),True,4
772,75078,97 union/*M!*/,True,4
775,67196,""" union/*!46 */",True,4
...,...,...,...,...
32504,62127,41 or/*M! (select*/uhngrr from aidvsq)<=3,True,4
32509,71877,92 union\tselect\ticpcxq--\r(),True,4
32529,73875,95 or 648=tgkirs (/*M!75*/),True,4
32535,55644,84 union /*!874 (select (rcmvos ()))*/,True,4
32537,54779,4 union distinct \tselect /*!\twoblop(*/(516)),True,4
32546,69527,891 union\tdistinct\tselect( snusod()),True,4
32547,75278,""" union/*!665 */",True,4
32572,75135,1 /*M!428 union*/,True,4
32578,66449,686 union/*!86 */,True,4
32590,66078,526 union/*M!*/,True,4
32603,13380,ny/<object wid,False,4
32646,56623,65 or#\r989=sepuaf(),True,4
32667,55051,""" union\t\tselect\t/*M!82 raplgv()*/",True,4
32673,57607,"297 and/**/""vjetnj"">=pqdkpy()",True,4
32693,75303,""" union/*M!*/",True,4
32707,75536,' union/*M!*/,True,4
32711,66632,91 /*!271 union*/,True,4
32712,72177,' union\tall--\r(select--\r(ngqfea())),True,4
32724,70978,39 union#\rall(\tselect ocxbju((--\r223))),True,4
32747,67266,178 union/*!724 */,True,4
32772,65999,38 union/*!689 */,True,4
32805,74488,895 union/*!113 */,True,4
32813,67540,""" union/*M!*/",True,4
32820,74906,361 union/*!*/,True,4
32863,69823,242 unionall (select\t(dmnaqp#\r())),True,4
32873,66362,24 union/*M!518 */,True,4
32895,76211,242 union/*!451 */,True,4
32897,73030,""" or 696=/*M!873 fgtcjt()*/",True,4
32900,56078,"11 or\t""csvdqh""!=bmoypk#\r()",True,4
32918,74958,438 /*!21 union*/,True,4

In [35]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 4) & (kmeans_sixteen_result['injection'] == True)]

,id,text,injection,class
74,75016,583 union/*!851 */,True,4
77,74465,117 union/*M!936 */,True,4
89,76222,92 union/*M!*/,True,4
153,84619,366 and 9>6,True,4
156,66541,562 union/*M!*/,True,4
164,73157,999 or\txieqwc(/*!611 389)<=76*/,True,4
206,73026,342 and 79<yljbmh()/*!*/,True,4
217,66390,' union/*M!*/,True,4
221,66243,685 union/*M!*/,True,4
279,66940,' /*M!union*/,True,4
301,56876,'or\tmqriie((ssjrsy()))<>762,True,4
340,65937,' union/*!*/,True,4
355,74391,81 union/*M!367 */,True,4
360,66326,886 union/*M!*/,True,4
402,73833,54 /*!597 and554=xfdmhi(*/ (33)),True,4
409,75216,858 union/*!*/,True,4
448,76622,uni/**/on sel/**/ect,True,4
468,67574,14 /*M!78 union*/,True,4
473,66373,645 union/*M!*/,True,4
498,54690,16 union\tdistinct/*!\t(select(kpablu()))*/,True,4
521,54291,""" union\t/*!23 select\t( nddcvn\t*/())",True,4
538,73668,979 and\twtktjw()<396/*M!*/,True,4
593,66642,' union/*M!*/,True,4
595,66330,93 union/*M!*/,True,4
642,68759,887 union (selectyvxmrs()),True,4
723,67021,' union/*M!823 */,True,4
746,74679,433 union/*!739 */,True,4
750,69244,' union (\tselect(--438 \rfgbxmr())),True,4
772,75078,97 union/*M!*/,True,4
775,67196,""" union/*!46 */",True,4
...,...,...,...,...
32499,73122,' or hqmcaj\t()=878/*M!*/,True,4
32504,62127,41 or/*M! (select*/uhngrr from aidvsq)<=3,True,4
32509,71877,92 union\tselect\ticpcxq--\r(),True,4
32529,73875,95 or 648=tgkirs (/*M!75*/),True,4
32535,55644,84 union /*!874 (select (rcmvos ()))*/,True,4
32537,54779,4 union distinct \tselect /*!\twoblop(*/(516)),True,4
32546,69527,891 union\tdistinct\tselect( snusod()),True,4
32547,75278,""" union/*!665 */",True,4
32572,75135,1 /*M!428 union*/,True,4
32578,66449,686 union/*!86 */,True,4
32590,66078,526 union/*M!*/,True,4
32646,56623,65 or#\r989=sepuaf(),True,4
32667,55051,""" union\t\tselect\t/*M!82 raplgv()*/",True,4
32673,57607,"297 and/**/""vjetnj"">=pqdkpy()",True,4
32693,75303,""" union/*M!*/",True,4
32707,75536,' union/*M!*/,True,4
32711,66632,91 /*!271 union*/,True,4
32712,72177,' union\tall--\r(select--\r(ngqfea())),True,4
32724,70978,39 union#\rall(\tselect ocxbju((--\r223))),True,4
32747,67266,178 union/*!724 */,True,4
32772,65999,38 union/*!689 */,True,4
32805,74488,895 union/*!113 */,True,4
32813,67540,""" union/*M!*/",True,4
32820,74906,361 union/*!*/,True,4
32863,69823,242 unionall (select\t(dmnaqp#\r())),True,4
32873,66362,24 union/*M!518 */,True,4
32895,76211,242 union/*!451 */,True,4
32897,73030,""" or 696=/*M!873 fgtcjt()*/",True,4
32900,56078,"11 or\t""csvdqh""!=bmoypk#\r()",True,4
32918,74958,438 /*!21 union*/,True,4

In [36]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 5]

          id                                          text  injection  class
1       1127                            PMr+OnOapNCyCJbJA=      False      5
47     35173                               xs7/OnWVkmQMnM=      False      5
70     34198                                3QP+onVAhgkak=      False      5
109     6851         miy/ONolTCXDXTLVIzROUgfXhheF ... xC2=      False      5
110    45516                              PU4/oNerQkw7RJQ=      False      5
123     3518                                ?ëONOLc=>¾´Ë      False      5
131    18437         yEs+onAxzuxW4clfR86OlPNCQtte ... FLU=      False      5
151    15984         ?i=+OnezyFVGd6Uar1YtbC2wvdA7 ... CHI=      False      5
171    16957                                    B6P+OnKNE=      False      5
182     4140                                S9C/OnnSCqMNM=      False      5
202    13063               4+7+oNtIFXG8sPJ5hPTnwcmPg6S6qA=      False      5
259    21151                       ofu-by--7MHKfvm3Qeg3W2C      False      5
274     3956                                 4fd+onPBLUM9=      False      5
287    29160         LQ2/ONCDXpHRyLvtIWKDhLHpI8wA ... k8Y=      False      5
292    22185                ala/onedQpQPb2RNCyETBqQDN2A5w=      False      5
295     9579         Znp+OnIIaGlFqHtIHQbq3ANheiVO ... nr2=      False      5
331    50062                                  %F7%1F%5D%21      False      5
346    16315                            ojj/onBVWoBXCfAg==      False      5
356    27690         +wS/ONoWFtx5EFAIq2wOkEdGdtsh ... Z2g=      False      5
367     4117             wUl/OnWpQVlbIirLkaq5aWIMzWB7WNuI=      False      5
372     1411         83U/ONDNtAeiIryYOtXEEGoPdW3a ... 67E=      False      5
431    80106                         15727988 AnD SLeeP(7)       True      5
458     5475         7IY/ONNbizZhHBZHZevIzidUHdaL ... MKI=      False      5
461    21651                                  74:"dRoP-VEU      False      5
503    11849                                 4FP+ONLKRXic=      False      5
516    49578                                  %F8%7F%A4%5C      False      5
583    13225  qzoSNXjdDNlqHmcbYkeiYE3quVC8+OnoJRMZa5fcPd9=      False      5
603    83366     rdhfKWWve6s5qdAI/OR+9NUVuY4Vv6F7iE28WQg==       True      5
639    35615                    QRj+OnHnFCNr1wO24k2JJYXQg=      False      5
644    49770                                  %F4%1F%A6%58      False      5
...      ...                                           ...        ...    ...
32384  33097         UGc/ONDnyvlRumsCK7dN3L2zulil ... s8o=      False      5
32386  40879                               KFu+onebJCCswU=      False      5
32416  45432                                    Gfx+OnlYM=      False      5
32418  50115                 7879-16 Hibernian F.C. season      False      5
32427  77678         gallery%')) AND 6239=3936 AND (('%'='       True      5
32434   7210         8B4+onAdpsDiEBUFUqBNESHg2J3x ... YbY=      False      5
32482  33299                    l2o/onoIVgQzDzX8JZJnAe2Qk=      False      5
32497  37747                       G8òþÀhÉÆsRc'¡¥,4N?|ÿ      False      5
32502  12397                             rzU+oNoGRtHBGzlU=      False      5
32517  42216                 48G+onhAWZWDXzNG6q8G3hroxcOc=      False      5
32544   2839                             rgz+oNfZNJ81ctTE=      False      5
32550  23809         daP+ONkLukPvsgqvI7ylnWOhaEs4 ... 1Ag=      False      5
32569  31638                     ìWw>SvGÝHÇV·¦tw¯KZWË
Âi      False      5
32583  22759                               MKy+oNHIlfj7b7=      False      5
32614  78921           nessus=&#79;+AND+&#89;a&#16;<&#45;b       True      5
32619  15682                        d+I+was+like+%22Oh+my+      False      5
32624  78125          -4492" OR 7616=9977 AND "fjCZ"="fjCZ       True      5
32637   3971         P56+oNVJTrbgMaBkwuMAHBgYyVy9 ... IXY=      False      5
32638  37479                   ops9446') ORDER BY 7-- DSEt      False      5
32669  33689                 1br+ONeeKHcQvgLoxlmuveekfQg==      False      5
32729  39191                      X+Y+ONhRojbWKpqNOknXVdI=      False      5
32746  40410         XO//onrUOvKR7y8dVFlTU8SSmVW3 ... cw3=      False      5
32752  51498                                  %F5%3F%6B%AA      False      5
32773  35051                           9BF+OnaxqjQHayu5MM=      False      5
32783  28248             uW9/oNnyxtBn14HKWdYQhVi3FrXVq1Mo=      False      5
32793  15776              yI1+oNVrmBMj49YxxZ9C8GpLIWsEyOQ=      False      5
32819  17368                   E2H+onEJlrpNv5Gnfy1TwDtEbg=      False      5
32864  37523                                  hs/+ONALGjU=      False      5
32875  44271         6pj+ONmDnW5XiKDTsZiGxoWrdzvt ... bRg=      False      5
32894     82         ?i=/OnBsVTS1yxrml355gbT9ZSH7 ... klA=      False      5

[1768 rows x 4 columns]

In [37]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 5) & (kmeans_sixteen_result['injection'] == True)]

           id                                       text  injection  class
431     80106                      15727988 AnD SLeeP(7)       True      5
603     83366  rdhfKWWve6s5qdAI/OR+9NUVuY4Vv6F7iE28WQg==       True      5
712     81191                                  54236282'       True      5
987     77307                 for_business AND 9943=9121       True      5
1580    79931        -6483/**/ORDER/**/BY/**/7--/**/CjDX       True      5
2001    77656        gallery%') AND 3657=4191 AND ('%'='       True      5
2219    77212     for_business%' AND 8589=3857 AND '%'='       True      5
3081    84251                       -5527 ORDER BY 7914#       True      5
3328    79996                             UNIon+sELEcT+2       True      5
3451    82238                          814_9' aNd '8'='4       True      5
3920    77579         -1715) OR 3229=8234 AND (7441=8576       True      5
5320    77258                 for_business AND 4492=4724       True      5
6040    79962    reply') AND 1647=9274 AND ('WLgI'='WLgI       True      5
6372    79624              old81792888' or '6281'='7616'       True      5
6503    77322          for_business AND 5335=7686-- xyES       True      5
6766    82255                          945_8' aNd '6'='1       True      5
6954    79770                                913+and+5>5       True      5
7143    79097          all/**/ORDER/**/BY/**/1--/**/XErC       True      5
7563    79096          all/**/ORDER/**/BY/**/1--/**/YDBu       True      5
7583    77612                 -9126" OR 7881=9561-- TOng       True      5
7691    78291                                377+and+7>1       True      5
8861    81082                      48245 And sLEEp(7)) #       True      5
10151   77611                 -9195" OR 9824=1155-- TOng       True      5
11020   86794                                  onload='+       True      5
11472   79053      core/**/ORDER/**/BY/**/7216--/**/DjFw       True      5
11617   84657                                487+and+7>5       True      5
11989  104155                        png%3E%7Cimg%32src=       True      5
12343   77072                          197381364 AND 7=6       True      5
12859   82279                          247_6' aNd '1'='2       True      5
13909   81177             548858197'And'8'&&SLEep(9)&&'3       True      5
...       ...                                        ...        ...    ...
16545   80000                                x'+or+1+=+8       True      5
16847   84656                                776+and+5>6       True      5
17115   79143          all/**/AND/**/9535=1968--/**/GaAG       True      5
17324   79263  navigation)/**/ORDER/**/BY/**/7--/**/YLOL       True      5
18572   76624                             %58%41or%572=8       True      5
19210   80174                               demo'+or+2=3       True      5
20032   77251                 for_business AND 1865=7765       True      5
20340   78919        nessus=&#91;+AND+&#54;a&#49;<&#81;b       True      5
20744   77163                 for_business AND 6446=6924       True      5
21557   82265                          271_1' aNd '2'='3       True      5
21584   77270                                254+and+1>3       True      5
21864   79927    -4673'/**/ORDER/**/BY/**/1828--/**/FHvi       True      5
22350   80181                 93385696' And sLEEp(4))) #       True      5
22955   82246                          476_4' aNd '8'='8       True      5
23936   79774                                352+and+9>8       True      5
24636   77073                          646467482 and 2=3       True      5
25295   79997                             UNIon+sELEcT+6       True      5
25567   86378              /%6Cscript%5Efoo%5C/script%2E       True      5
27146   77933      gallery) AND 2479=1467 AND (4159=5285       True      5
27466   82237                          644_2' aNd '6'='7       True      5
27649   78280                            676"+and+"x"="x       True      5
28335   77721        gallery%") AND 6156=3428 AND ("%"="       True      5
28635   84729                                359+and+6>9       True      5
28885   79772                                757+and+7>8       True      5
29419   81192                                  77629546'       True      5
29518   77666          gallery%' AND 4179=9974 AND '%'='       True      5
32211   79769                                621+and+1>1       True      5
32427   77678      gallery%')) AND 6239=3936 AND (('%'='       True      5
32614   78921        nessus=&#79;+AND+&#89;a&#16;<&#45;b       True      5
32624   78125       -4492" OR 7616=9977 AND "fjCZ"="fjCZ       True      5

[62 rows x 4 columns]

In [38]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 6]

,id,text,injection,class
16,60976,21 union (select (/*29 */961)--\rfrom#728 13 e...,True,6
36,59186,857 and--935 \r(/*72 882 65 lledjx qkgdkq */se...,True,6
38,68799,348 union /*638 */select#ppuews 158 77 \r--445...,True,6
57,58827,293 and585<(select#eokrgi cnucrm 579 xyrxcu \r...,True,6
61,72682,"18 and38<>vidkjr(( /*M!steunl(*/)), 877, (721...",True,6
79,58619,"232 or (select --356 77 hpiwby \r""cqflot""#\rfr...",True,6
81,54318,"56 union( /*!select\t(fdscak (697*/, 59, ( uf...",True,6
85,61381,887 union/*nlwvuk lmnpft 99 hgnjoi lgxnpe 691 ...,True,6
125,57767,26 and 52!=dwomqg(/*85 fylejk njlqic 9 */'lelk...,True,6
134,63896,"367 or(select (/*!865 863), */581, 882\tfrom...",True,6
168,54074,"29 union\tselect (/*!35 eixwnq()), \triwqbb*/...",True,6
177,62550,"549 and( select/*! (oamqhr(948)), */(txrecp\t...",True,6
184,69686,231 union--gujcvd 537 971 \rall(\tselect/*ptgh...,True,6
198,64520,"53 union--\rselect--oiyjok \r'jahmam', (hawjae...",True,6
211,68652,828 union#provrl 17 594 477 \r(/*dboeve 459 43...,True,6
242,65662,"888 union#\rdistinct (select#\r(135), (618), (...",True,6
253,54694,"46 union/*!all( select\tsbljxo((svvbrk*/ ()),...",True,6
263,63572,556 or (select\t( ahnuhy)/*! from*/example.ex...,True,6
270,56779,"759 or/**/""uaojeu""<=otcecp--iamsyh vypotp 423 ...",True,6
285,65551,751 union--\r(select/*lqywvk oshuhq loqbxj cvs...,True,6
289,57114,311 and#\rxgukhu--456 461 91 dvkctw 126 774 \r...,True,6
339,61912,"327 unionselect wrmwdy(), (175), #oypfuw ojcs...",True,6
377,43994,"±98 ml and 31ÐÂ±71 cm ... es, and obesity (Rap",False,6
388,60288,"647 union#\r(select\t58, ('xffvjv'), (vjiwee),...",True,6
389,72741,"452 or\t758>tntpqv\t(/*M!(48), */(\t781), ( 6...",True,6
399,62577,"775 or\t88</*M!(select\t flygem (),*/ \t244, ...",True,6
407,56577,194 or#669 ywwfcm wbvnom \rkuhwuh()<>981,True,6
408,64347,"571 union (select ssfqgl, (hhhxdx)\tfrom examp...",True,6
416,60281,24 union--55 985 \r\tselect/*jwsqep ijlmhu */(...,True,6
421,62300,"686 or\t(select \tasqegh,/*M! */nvbtkj(), (\t...",True,6
...,...,...,...,...
32428,72763,"997 and xpuurn/*M!\t(*/puyure\t(), \tkfdgcu()...",True,6
32430,54526,"37 union \t/*!22 select (spjecq(*/)), (hcdwyb...",True,6
32447,62565,"941 and /*M!97*/>=(select jhaksy(), (vhgcbv),...",True,6
32448,62950,46 and ( select /*M!41 ( 773)from*/\tcxvmmk)<...,True,6
32460,64188,"357 unionselect(/**/lieaqn(( 224), (xchksk\t()...",True,6
32539,71367,914 union (--\rselect/*vtmins kxdyhg inqsjm */...,True,6
32552,57790,371 or xsxvik( --unwerk fhbdcb llhoso 717 bqiq...,True,6
32555,58682,"35 or#iqmcfy kwvujl 339 uavbuj nyqbjg 244 \r""p...",True,6
32571,69265,52 union --bisush 972 \rselect#\rnuiboa(),True,6
32580,55574,434 union\t(/*M!59 \tselect\t(kfbvwg\t(*/\tny...,True,6
32588,69779,356 union/*358 */all--\r(/**/select (olmaqt ())),True,6
32592,61110,577 union(select/**/\twersrqfrom/*16 984 14 */...,True,6
32631,63682,"49 or\t(\t/*M!492 select\t78*/, tnpkub, 18, \...",True,6
32639,57814,77 or\tdyejdy/*179 473 dsuekb 827 vtyqac gnvfx...,True,6
32653,70330,"73 union\tselect ( cxjwmt(/*M!22 \t(539), (87...",True,6
32696,72142,"418 union\tdistinct (select--\r(\tftqaqa ()), ...",True,6
32699,71950,264 union--\r(select#71 97 \r(ieeqvg())),True,6
32705,62151,"27 or/*M! ( select(emreki), */dpppvp((617), ...",True,6
32706,55036,"965 union (select\t(\t/*!897 sopjog(76, jflou...",True,6
32715,57028,344 or 284=vuhmrn(#lubrsl uavwae hthebw rtqdxp...,True,6
32728,70279,228 /*M!union\tdistinct( select */( kkiabs(\t...,True,6
32756,70664,875 union/*crkfbl */distinct#nwjgcc ggwrcd cgk...,True,6
32759,56138,333 and--jduswk 271 stgrac 842 bllkgc 693 \ryi...,True,6
32760,55627,"77 /*M!unionselect vsgyln(*/(261), ( 33), (qn...",True,6
32782,55449,541 union\tdistinct/*M!254 (\tselect\tlhpmyo(...,True,6
32822,64936,"867 union#bjcrby \r(select(rqyaca()), 313, 389...",True,6
32850,53956,"53 union select /*!(*/ mtkchh((ovojha()), \t7...",True,6
32853,65458,94 union--84 9 \r(/*mlmybe 987 172 786 rgwfob ...,True,6
32856,58439,"438 or--\r'mqhgir'=(select\t(""lwmpuv""), --rqna...",True,6
32890,57260,4 or#259 592 wjaexc rgenfs eenonp bqluep 684 \...,True,6

In [39]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 6) & (kmeans_sixteen_result['injection'] == True)]

,id,text,injection,class
16,60976,21 union (select (/*29 */961)--\rfrom#728 13 e...,True,6
36,59186,857 and--935 \r(/*72 882 65 lledjx qkgdkq */se...,True,6
38,68799,348 union /*638 */select#ppuews 158 77 \r--445...,True,6
57,58827,293 and585<(select#eokrgi cnucrm 579 xyrxcu \r...,True,6
61,72682,"18 and38<>vidkjr(( /*M!steunl(*/)), 877, (721...",True,6
79,58619,"232 or (select --356 77 hpiwby \r""cqflot""#\rfr...",True,6
81,54318,"56 union( /*!select\t(fdscak (697*/, 59, ( uf...",True,6
85,61381,887 union/*nlwvuk lmnpft 99 hgnjoi lgxnpe 691 ...,True,6
125,57767,26 and 52!=dwomqg(/*85 fylejk njlqic 9 */'lelk...,True,6
134,63896,"367 or(select (/*!865 863), */581, 882\tfrom...",True,6
168,54074,"29 union\tselect (/*!35 eixwnq()), \triwqbb*/...",True,6
177,62550,"549 and( select/*! (oamqhr(948)), */(txrecp\t...",True,6
184,69686,231 union--gujcvd 537 971 \rall(\tselect/*ptgh...,True,6
198,64520,"53 union--\rselect--oiyjok \r'jahmam', (hawjae...",True,6
211,68652,828 union#provrl 17 594 477 \r(/*dboeve 459 43...,True,6
242,65662,"888 union#\rdistinct (select#\r(135), (618), (...",True,6
253,54694,"46 union/*!all( select\tsbljxo((svvbrk*/ ()),...",True,6
263,63572,556 or (select\t( ahnuhy)/*! from*/example.ex...,True,6
270,56779,"759 or/**/""uaojeu""<=otcecp--iamsyh vypotp 423 ...",True,6
285,65551,751 union--\r(select/*lqywvk oshuhq loqbxj cvs...,True,6
289,57114,311 and#\rxgukhu--456 461 91 dvkctw 126 774 \r...,True,6
339,61912,"327 unionselect wrmwdy(), (175), #oypfuw ojcs...",True,6
388,60288,"647 union#\r(select\t58, ('xffvjv'), (vjiwee),...",True,6
389,72741,"452 or\t758>tntpqv\t(/*M!(48), */(\t781), ( 6...",True,6
399,62577,"775 or\t88</*M!(select\t flygem (),*/ \t244, ...",True,6
407,56577,194 or#669 ywwfcm wbvnom \rkuhwuh()<>981,True,6
408,64347,"571 union (select ssfqgl, (hhhxdx)\tfrom examp...",True,6
416,60281,24 union--55 985 \r\tselect/*jwsqep ijlmhu */(...,True,6
421,62300,"686 or\t(select \tasqegh,/*M! */nvbtkj(), (\t...",True,6
428,63335,636 or 532<=(select (\t/*!739 61)fromvkaywn)*/,True,6
...,...,...,...,...
32428,72763,"997 and xpuurn/*M!\t(*/puyure\t(), \tkfdgcu()...",True,6
32430,54526,"37 union \t/*!22 select (spjecq(*/)), (hcdwyb...",True,6
32447,62565,"941 and /*M!97*/>=(select jhaksy(), (vhgcbv),...",True,6
32448,62950,46 and ( select /*M!41 ( 773)from*/\tcxvmmk)<...,True,6
32460,64188,"357 unionselect(/**/lieaqn(( 224), (xchksk\t()...",True,6
32539,71367,914 union (--\rselect/*vtmins kxdyhg inqsjm */...,True,6
32552,57790,371 or xsxvik( --unwerk fhbdcb llhoso 717 bqiq...,True,6
32555,58682,"35 or#iqmcfy kwvujl 339 uavbuj nyqbjg 244 \r""p...",True,6
32571,69265,52 union --bisush 972 \rselect#\rnuiboa(),True,6
32580,55574,434 union\t(/*M!59 \tselect\t(kfbvwg\t(*/\tny...,True,6
32588,69779,356 union/*358 */all--\r(/**/select (olmaqt ())),True,6
32592,61110,577 union(select/**/\twersrqfrom/*16 984 14 */...,True,6
32631,63682,"49 or\t(\t/*M!492 select\t78*/, tnpkub, 18, \...",True,6
32639,57814,77 or\tdyejdy/*179 473 dsuekb 827 vtyqac gnvfx...,True,6
32653,70330,"73 union\tselect ( cxjwmt(/*M!22 \t(539), (87...",True,6
32696,72142,"418 union\tdistinct (select--\r(\tftqaqa ()), ...",True,6
32699,71950,264 union--\r(select#71 97 \r(ieeqvg())),True,6
32705,62151,"27 or/*M! ( select(emreki), */dpppvp((617), ...",True,6
32706,55036,"965 union (select\t(\t/*!897 sopjog(76, jflou...",True,6
32715,57028,344 or 284=vuhmrn(#lubrsl uavwae hthebw rtqdxp...,True,6
32728,70279,228 /*M!union\tdistinct( select */( kkiabs(\t...,True,6
32756,70664,875 union/*crkfbl */distinct#nwjgcc ggwrcd cgk...,True,6
32759,56138,333 and--jduswk 271 stgrac 842 bllkgc 693 \ryi...,True,6
32760,55627,"77 /*M!unionselect vsgyln(*/(261), ( 33), (qn...",True,6
32782,55449,541 union\tdistinct/*M!254 (\tselect\tlhpmyo(...,True,6
32822,64936,"867 union#bjcrby \r(select(rqyaca()), 313, 389...",True,6
32850,53956,"53 union select /*!(*/ mtkchh((ovojha()), \t7...",True,6
32853,65458,94 union--84 9 \r(/*mlmybe 987 172 786 rgwfob ...,True,6
32856,58439,"438 or--\r'mqhgir'=(select\t(""lwmpuv""), --rqna...",True,6
32890,57260,4 or#259 592 wjaexc rgenfs eenonp bqluep 684 \...,True,6

In [40]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 6) & (kmeans_sixteen_result['injection'] == False)]

,id,text,injection,class
377,43994,"±98 ml and 31ÐÂ±71 cm ... es, and obesity (Rap",False,6
4362,13555,SN597c567852761=pefum6jgpa2iai32uu6dgflrg9; sb...,False,6
20516,36812,186795</p>\n\n\t\t\t\t\t\n\n\t\t\t\t\t<span id...,False,6
21385,3275,"41994266"" union select unhex(hex(version())) -...",False,6
21672,25439,"264659181, your order # 1 is placed! It will b...",False,6
22161,4533,"877189<meta name=""yandex-verification"" content...",False,6
28134,15884,"455292"" height=""4"" width=""8"" alt=""""></noscript...",False,6
31207,27155,"295422966617221577521461624915, your order # 1...",False,6
32232,40729,237752-tablette-ipad-mini-6-769go-or-715817185...,False,6

In [38]:
kmeans_sixteen_result[kmeans_sixteen_result['class'] == 6]

,id,text,injection,class
16,60976,21 union (select (/*29 */961)--\rfrom#728 13 e...,True,6
36,59186,857 and--935 \r(/*72 882 65 lledjx qkgdkq */se...,True,6
38,68799,348 union /*638 */select#ppuews 158 77 \r--445...,True,6
57,58827,293 and585<(select#eokrgi cnucrm 579 xyrxcu \r...,True,6
61,72682,"18 and38<>vidkjr(( /*M!steunl(*/)), 877, (721...",True,6
79,58619,"232 or (select --356 77 hpiwby \r""cqflot""#\rfr...",True,6
81,54318,"56 union( /*!select\t(fdscak (697*/, 59, ( uf...",True,6
85,61381,887 union/*nlwvuk lmnpft 99 hgnjoi lgxnpe 691 ...,True,6
125,57767,26 and 52!=dwomqg(/*85 fylejk njlqic 9 */'lelk...,True,6
134,63896,"367 or(select (/*!865 863), */581, 882\tfrom...",True,6
168,54074,"29 union\tselect (/*!35 eixwnq()), \triwqbb*/...",True,6
177,62550,"549 and( select/*! (oamqhr(948)), */(txrecp\t...",True,6
184,69686,231 union--gujcvd 537 971 \rall(\tselect/*ptgh...,True,6
198,64520,"53 union--\rselect--oiyjok \r'jahmam', (hawjae...",True,6
211,68652,828 union#provrl 17 594 477 \r(/*dboeve 459 43...,True,6
242,65662,"888 union#\rdistinct (select#\r(135), (618), (...",True,6
253,54694,"46 union/*!all( select\tsbljxo((svvbrk*/ ()),...",True,6
263,63572,556 or (select\t( ahnuhy)/*! from*/example.ex...,True,6
270,56779,"759 or/**/""uaojeu""<=otcecp--iamsyh vypotp 423 ...",True,6
285,65551,751 union--\r(select/*lqywvk oshuhq loqbxj cvs...,True,6
289,57114,311 and#\rxgukhu--456 461 91 dvkctw 126 774 \r...,True,6
339,61912,"327 unionselect wrmwdy(), (175), #oypfuw ojcs...",True,6
377,43994,"±98 ml and 31ÐÂ±71 cm ... es, and obesity (Rap",False,6
388,60288,"647 union#\r(select\t58, ('xffvjv'), (vjiwee),...",True,6
389,72741,"452 or\t758>tntpqv\t(/*M!(48), */(\t781), ( 6...",True,6
399,62577,"775 or\t88</*M!(select\t flygem (),*/ \t244, ...",True,6
407,56577,194 or#669 ywwfcm wbvnom \rkuhwuh()<>981,True,6
408,64347,"571 union (select ssfqgl, (hhhxdx)\tfrom examp...",True,6
416,60281,24 union--55 985 \r\tselect/*jwsqep ijlmhu */(...,True,6
421,62300,"686 or\t(select \tasqegh,/*M! */nvbtkj(), (\t...",True,6
...,...,...,...,...
32428,72763,"997 and xpuurn/*M!\t(*/puyure\t(), \tkfdgcu()...",True,6
32430,54526,"37 union \t/*!22 select (spjecq(*/)), (hcdwyb...",True,6
32447,62565,"941 and /*M!97*/>=(select jhaksy(), (vhgcbv),...",True,6
32448,62950,46 and ( select /*M!41 ( 773)from*/\tcxvmmk)<...,True,6
32460,64188,"357 unionselect(/**/lieaqn(( 224), (xchksk\t()...",True,6
32539,71367,914 union (--\rselect/*vtmins kxdyhg inqsjm */...,True,6
32552,57790,371 or xsxvik( --unwerk fhbdcb llhoso 717 bqiq...,True,6
32555,58682,"35 or#iqmcfy kwvujl 339 uavbuj nyqbjg 244 \r""p...",True,6
32571,69265,52 union --bisush 972 \rselect#\rnuiboa(),True,6
32580,55574,434 union\t(/*M!59 \tselect\t(kfbvwg\t(*/\tny...,True,6
32588,69779,356 union/*358 */all--\r(/**/select (olmaqt ())),True,6
32592,61110,577 union(select/**/\twersrqfrom/*16 984 14 */...,True,6
32631,63682,"49 or\t(\t/*M!492 select\t78*/, tnpkub, 18, \...",True,6
32639,57814,77 or\tdyejdy/*179 473 dsuekb 827 vtyqac gnvfx...,True,6
32653,70330,"73 union\tselect ( cxjwmt(/*M!22 \t(539), (87...",True,6
32696,72142,"418 union\tdistinct (select--\r(\tftqaqa ()), ...",True,6
32699,71950,264 union--\r(select#71 97 \r(ieeqvg())),True,6
32705,62151,"27 or/*M! ( select(emreki), */dpppvp((617), ...",True,6
32706,55036,"965 union (select\t(\t/*!897 sopjog(76, jflou...",True,6
32715,57028,344 or 284=vuhmrn(#lubrsl uavwae hthebw rtqdxp...,True,6
32728,70279,228 /*M!union\tdistinct( select */( kkiabs(\t...,True,6
32756,70664,875 union/*crkfbl */distinct#nwjgcc ggwrcd cgk...,True,6
32759,56138,333 and--jduswk 271 stgrac 842 bllkgc 693 \ryi...,True,6
32760,55627,"77 /*M!unionselect vsgyln(*/(261), ( 33), (qn...",True,6
32782,55449,541 union\tdistinct/*M!254 (\tselect\tlhpmyo(...,True,6
32822,64936,"867 union#bjcrby \r(select(rqyaca()), 313, 389...",True,6
32850,53956,"53 union select /*!(*/ mtkchh((ovojha()), \t7...",True,6
32853,65458,94 union--84 9 \r(/*mlmybe 987 172 786 rgwfob ...,True,6
32856,58439,"438 or--\r'mqhgir'=(select\t(""lwmpuv""), --rqna...",True,6
32890,57260,4 or#259 592 wjaexc rgenfs eenonp bqluep 684 \...,True,6

In [39]:
kmeans_sixteen_result[(kmeans_sixteen_result['class'] == 6) & (kmeans_sixteen_result['injection'] == True)]

,id,text,injection,class
16,60976,21 union (select (/*29 */961)--\rfrom#728 13 e...,True,6
36,59186,857 and--935 \r(/*72 882 65 lledjx qkgdkq */se...,True,6
38,68799,348 union /*638 */select#ppuews 158 77 \r--445...,True,6
57,58827,293 and585<(select#eokrgi cnucrm 579 xyrxcu \r...,True,6
61,72682,"18 and38<>vidkjr(( /*M!steunl(*/)), 877, (721...",True,6
79,58619,"232 or (select --356 77 hpiwby \r""cqflot""#\rfr...",True,6
81,54318,"56 union( /*!select\t(fdscak (697*/, 59, ( uf...",True,6
85,61381,887 union/*nlwvuk lmnpft 99 hgnjoi lgxnpe 691 ...,True,6
125,57767,26 and 52!=dwomqg(/*85 fylejk njlqic 9 */'lelk...,True,6
134,63896,"367 or(select (/*!865 863), */581, 882\tfrom...",True,6
168,54074,"29 union\tselect (/*!35 eixwnq()), \triwqbb*/...",True,6
177,62550,"549 and( select/*! (oamqhr(948)), */(txrecp\t...",True,6
184,69686,231 union--gujcvd 537 971 \rall(\tselect/*ptgh...,True,6
198,64520,"53 union--\rselect--oiyjok \r'jahmam', (hawjae...",True,6
211,68652,828 union#provrl 17 594 477 \r(/*dboeve 459 43...,True,6
242,65662,"888 union#\rdistinct (select#\r(135), (618), (...",True,6
253,54694,"46 union/*!all( select\tsbljxo((svvbrk*/ ()),...",True,6
263,63572,556 or (select\t( ahnuhy)/*! from*/example.ex...,True,6
270,56779,"759 or/**/""uaojeu""<=otcecp--iamsyh vypotp 423 ...",True,6
285,65551,751 union--\r(select/*lqywvk oshuhq loqbxj cvs...,True,6
289,57114,311 and#\rxgukhu--456 461 91 dvkctw 126 774 \r...,True,6
339,61912,"327 unionselect wrmwdy(), (175), #oypfuw ojcs...",True,6
388,60288,"647 union#\r(select\t58, ('xffvjv'), (vjiwee),...",True,6
389,72741,"452 or\t758>tntpqv\t(/*M!(48), */(\t781), ( 6...",True,6
399,62577,"775 or\t88</*M!(select\t flygem (),*/ \t244, ...",True,6
407,56577,194 or#669 ywwfcm wbvnom \rkuhwuh()<>981,True,6
408,64347,"571 union (select ssfqgl, (hhhxdx)\tfrom examp...",True,6
416,60281,24 union--55 985 \r\tselect/*jwsqep ijlmhu */(...,True,6
421,62300,"686 or\t(select \tasqegh,/*M! */nvbtkj(), (\t...",True,6
428,63335,636 or 532<=(select (\t/*!739 61)fromvkaywn)*/,True,6
...,...,...,...,...
32428,72763,"997 and xpuurn/*M!\t(*/puyure\t(), \tkfdgcu()...",True,6
32430,54526,"37 union \t/*!22 select (spjecq(*/)), (hcdwyb...",True,6
32447,62565,"941 and /*M!97*/>=(select jhaksy(), (vhgcbv),...",True,6
32448,62950,46 and ( select /*M!41 ( 773)from*/\tcxvmmk)<...,True,6
32460,64188,"357 unionselect(/**/lieaqn(( 224), (xchksk\t()...",True,6
32539,71367,914 union (--\rselect/*vtmins kxdyhg inqsjm */...,True,6
32552,57790,371 or xsxvik( --unwerk fhbdcb llhoso 717 bqiq...,True,6
32555,58682,"35 or#iqmcfy kwvujl 339 uavbuj nyqbjg 244 \r""p...",True,6
32571,69265,52 union --bisush 972 \rselect#\rnuiboa(),True,6
32580,55574,434 union\t(/*M!59 \tselect\t(kfbvwg\t(*/\tny...,True,6
32588,69779,356 union/*358 */all--\r(/**/select (olmaqt ())),True,6
32592,61110,577 union(select/**/\twersrqfrom/*16 984 14 */...,True,6
32631,63682,"49 or\t(\t/*M!492 select\t78*/, tnpkub, 18, \...",True,6
32639,57814,77 or\tdyejdy/*179 473 dsuekb 827 vtyqac gnvfx...,True,6
32653,70330,"73 union\tselect ( cxjwmt(/*M!22 \t(539), (87...",True,6
32696,72142,"418 union\tdistinct (select--\r(\tftqaqa ()), ...",True,6
32699,71950,264 union--\r(select#71 97 \r(ieeqvg())),True,6
32705,62151,"27 or/*M! ( select(emreki), */dpppvp((617), ...",True,6
32706,55036,"965 union (select\t(\t/*!897 sopjog(76, jflou...",True,6
32715,57028,344 or 284=vuhmrn(#lubrsl uavwae hthebw rtqdxp...,True,6
32728,70279,228 /*M!union\tdistinct( select */( kkiabs(\t...,True,6
32756,70664,875 union/*crkfbl */distinct#nwjgcc ggwrcd cgk...,True,6
32759,56138,333 and--jduswk 271 stgrac 842 bllkgc 693 \ryi...,True,6
32760,55627,"77 /*M!unionselect vsgyln(*/(261), ( 33), (qn...",True,6
32782,55449,541 union\tdistinct/*M!254 (\tselect\tlhpmyo(...,True,6
32822,64936,"867 union#bjcrby \r(select(rqyaca()), 313, 389...",True,6
32850,53956,"53 union select /*!(*/ mtkchh((ovojha()), \t7...",True,6
32853,65458,94 union--84 9 \r(/*mlmybe 987 172 786 rgwfob ...,True,6
32856,58439,"438 or--\r'mqhgir'=(select\t(""lwmpuv""), --rqna...",True,6
32890,57260,4 or#259 592 wjaexc rgenfs eenonp bqluep 684 \...,True,6